















.color-light_orange {
    background-color: #ffc399;
}

.color-light_orange .serviceColumn {
    border-left: 1px solid #f2f2f2;
}

.color-light_orange .serviceColumn:first-child {
    border-left: none;
}

.color-light_orange a {
    color: #ffffff;
}

.color-light_orange .service-container .if-button {
    color: #ffffff;
    border-color: #f2f2f2;
}

.service-icons .service-title {
    color: black;
}

.color-light_orange.service-icons .service-title {
    color: #ffffff;
}

.color-light_orange .service-container .radio-group label,
.color-light_orange .service-column h1,
.color-light_orange .service-column p {
    color: #ffffff;
}

.billboard.color-light_orange h2 {
    color: #9d9ea0;
}

.color-light_orange a.more-button {
    color: #9d9ea0;
    border-color: #9d9ea0;
}

@media (max-width: 767px) {
    .color-light_orange .serviceColumn {
        border-left: none;
    }

    .color-light_orange .serviceColumn:first-child {
        border-left: none;
        border-top: none;
    }
}


.color-dark_orange {
    background-color: #f86700;
}

.color-dark_orange .serviceColumn {
    border-left: 1px solid #005EAB;
}

.color-dark_orange .serviceColumn:first-child {
    border-left: none;
}

.color-dark_orange a {
    color: #ffffff;
}

.color-dark_orange .service-container .if-button {
    color: #ffffff;
    border-color: #005EAB;
}

.service-icons .service-title {
    color: black;
}

.color-dark_orange.service-icons .service-title {
    color: #ffffff;
}

.color-dark_orange .service-container .radio-group label,
.color-dark_orange .service-column h1,
.color-dark_orange .service-column p {
    color: #ffffff;
}

.billboard.color-dark_orange h2 {
    color: #9d9ea0;
}

.color-dark_orange a.more-button {
    color: #9d9ea0;
    border-color: #9d9ea0;
}

@media (max-width: 767px) {
    .color-dark_orange .serviceColumn {
        border-left: none;
    }

    .color-dark_orange .serviceColumn:first-child {
        border-left: none;
        border-top: none;
    }
}


.color-lighter_orange {
    background-color: #fee2ce;
}

.color-lighter_orange .serviceColumn {
    border-left: 1px solid #f2f2f2;
}

.color-lighter_orange .serviceColumn:first-child {
    border-left: none;
}

.color-lighter_orange a {
    color: #000000;
}

.color-lighter_orange .service-container .if-button {
    color: #000000;
    border-color: #f2f2f2;
}

.service-icons .service-title {
    color: black;
}

.color-lighter_orange.service-icons .service-title {
    color: #000000;
}

.color-lighter_orange .service-container .radio-group label,
.color-lighter_orange .service-column h1,
.color-lighter_orange .service-column p {
    color: #000000;
}

.billboard.color-lighter_orange h2 {
    color: #000000;
}

.color-lighter_orange a.more-button {
    color: #000000;
    border-color: #000000;
}

@media (max-width: 767px) {
    .color-lighter_orange .serviceColumn {
        border-left: none;
    }

    .color-lighter_orange .serviceColumn:first-child {
        border-left: none;
        border-top: none;
    }
}


.color-dark_grey {
    background-color: #414042;
}

.color-dark_grey .serviceColumn {
    border-left: 1px solid #414042;
}

.color-dark_grey .serviceColumn:first-child {
    border-left: none;
}

.color-dark_grey a {
    color: #ffffff;
}

.color-dark_grey .service-container .if-button {
    color: #ffffff;
    border-color: #414042;
}

.service-icons .service-title {
    color: black;
}

.color-dark_grey.service-icons .service-title {
    color: #ffffff;
}

.color-dark_grey .service-container .radio-group label,
.color-dark_grey .service-column h1,
.color-dark_grey .service-column p {
    color: #ffffff;
}

.billboard.color-dark_grey h2 {
    color: #ffffff;
}

.color-dark_grey a.more-button {
    color: #ffffff;
    border-color: #ffffff;
}

@media (max-width: 767px) {
    .color-dark_grey .serviceColumn {
        border-left: none;
    }

    .color-dark_grey .serviceColumn:first-child {
        border-left: none;
        border-top: none;
    }
}


.color-white {
    background-color: #ffffff;
}

.color-white .serviceColumn {
    border-left: 1px solid ;
}

.color-white .serviceColumn:first-child {
    border-left: none;
}

.color-white a {
    color: #000000;
}

.color-white .service-container .if-button {
    color: #000000;
    /*border-color: ;*/
}

.service-icons .service-title {
    color: black;
}

.color-white.service-icons .service-title {
    color: #000000;
}

.color-white .service-container .radio-group label,
.color-white .service-column h1,
.color-white .service-column p {
    color: #000000;
}

.billboard.color-white h2 {
    color: #000000;
}

.color-white a.more-button {
    color: #000000;
    border-color: #000000;
}

@media (max-width: 767px) {
    .color-white .serviceColumn {
        border-left: none;
    }

    .color-white .serviceColumn:first-child {
        border-left: none;
        border-top: none;
    }
}


.color-light_grey {
    background-color: #b2b2b2;
}

.color-light_grey .serviceColumn {
    border-left: 1px solid ;
}

.color-light_grey .serviceColumn:first-child {
    border-left: none;
}

.color-light_grey a {
    color: #000000;
}

.color-light_grey .service-container .if-button {
    color: #000000;
    /*border-color: ;*/
}

.service-icons .service-title {
    color: black;
}

.color-light_grey.service-icons .service-title {
    color: #000000;
}

.color-light_grey .service-container .radio-group label,
.color-light_grey .service-column h1,
.color-light_grey .service-column p {
    color: #000000;
}

.billboard.color-light_grey h2 {
    color: #000000;
}

.color-light_grey a.more-button {
    color: #000000;
    border-color: #000000;
}

@media (max-width: 767px) {
    .color-light_grey .serviceColumn {
        border-left: none;
    }

    .color-light_grey .serviceColumn:first-child {
        border-left: none;
        border-top: none;
    }
}


.color-lighter_grey {
    background-color: #e1e1e1;
}

.color-lighter_grey .serviceColumn {
    border-left: 1px solid ;
}

.color-lighter_grey .serviceColumn:first-child {
    border-left: none;
}

.color-lighter_grey a {
    color: #000000;
}

.color-lighter_grey .service-container .if-button {
    color: #000000;
    /*border-color: ;*/
}

.service-icons .service-title {
    color: black;
}

.color-lighter_grey.service-icons .service-title {
    color: #000000;
}

.color-lighter_grey .service-container .radio-group label,
.color-lighter_grey .service-column h1,
.color-lighter_grey .service-column p {
    color: #000000;
}

.billboard.color-lighter_grey h2 {
    color: #000000;
}

.color-lighter_grey a.more-button {
    color: #000000;
    border-color: #000000;
}

@media (max-width: 767px) {
    .color-lighter_grey .serviceColumn {
        border-left: none;
    }

    .color-lighter_grey .serviceColumn:first-child {
        border-left: none;
        border-top: none;
    }
}



