/*Styles for billboard button addition*/
.billboard button{
    color: black;
    width: 100%;
    border: none;
    background: white;
    padding: 10px 0px;
    margin-top: 5px;
}
/*Styles for Icon Key at top of content section*/
.icon-key {
    padding: 0;
    margin-top:30px;
}
.icon-key-header {
    background: #404042;
    padding:0;
    margin:0;
    width:100%;
    color: white;
}
.icon-key-header h2{
    font-size: 22px;
    padding: 6px 15px;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
}

.icon-key-body{
    background:#ededed;
    margin:0 0 30px 0;
    padding:15px;

}
.icon-key-body h2{
    font-size:18px;
    font-weight:bold;
}
.icon-key-body p{
    font-size:12px;
}
.brandlisting {
    padding: 30px 10px;
    border-bottom: 1px solid black;

}

#inactive-brands {
    background:#ededed;
    margin-top:40px;
    padding-top:30px;
}
#inactive-brands h2{
    margin-left:30px;
}
#inactive-brands .brandlisting-gallery{
    border: solid 1px lightgray;
}

.brandlisting-heading {
    padding: 0 10px;
    margin-top: 30px;
}
.selector{
    cursor: pointer;
}
#layout-selectors{
    text-align: right;
    font-size: 25px;
    padding-right: 27px;
}
#layout-selectors i{
    margin-left:5px;
    cursor:pointer;
}
.brandlisting{
    /*when in gallery view*/
    /*display:none;*/
}
.brandlisting-gallery{
    border: solid 1px #ededed;
    padding:20px;
}
.brandlisting-gallery-container{
    margin-bottom: 30px;
    /*when in listview*/
    display:none;
}

.brandlisting-image{
    height: 120px;


    padding: 30px 60px;


}
.brandlisting-image img{
    align-self:center;
    max-height: 80px;
    margin:0 auto;
}
.brandlisting-gallery-description{
    height: 200px;
    padding: 20px 0;
}
.brandlisting-gallery-icons .icons img{
    /*padding:10px;*/
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    margin-top:3px;
    padding-top:5px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height:300px;
    overflow-y:scroll;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 4px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}