/*
  variables & mixins
*/
/*
  scaffolding
*/
/*
  colors
*/
.body-container .side-nav{color: #FF671F;text-decoration: none;}
body{max-width: 100%;overflow-x: hidden;}
.col-xs-1of7,
.col-xs-1of8 {
  float: left;
}
.col-xs-1of7 {
  width: 14.28%;
}
.col-xs-1of8 {
  width: 12.5%;
}
.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.grey-landing {
  background-color: #d8d8d9;
}
.grey-content {
  background-color: #e6e6e7;
}
.grey-light {
  background: #9d9ea0;
}
.transparent-grey {
  background-color: rgba(157, 158, 160, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d9d9ea0, endColorstr=#4d9d9ea0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d9d9ea0, endColorstr=#4d9d9ea0);
}
.dark-blue {
  background: #005ea8;
}
.blue-light {
  background-color: #cedfef;
}
.heading-blue {
  background-color: #f2f2f2;
}
.transparent-blue {
  background-color: rgba(133, 175, 213, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d85afd5, endColorstr=#4d85afd5);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d85afd5, endColorstr=#4d85afd5);
}
.blue-archive {
  background-color: #e9eef7;
}
.orangeText {
  margin: 0px;
  color: #ff671f;
}
/*
  overwrite bootstrap's grid padding & margin
  added white bar on the right side of the page
*/
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*.carousel-inner{overflow: visible;}**Commented to make the carousel slide within its div*/
@media (max-width: 599px) {
#homepage-carousel .carousel-inner{overflow:visible;}
}

@media (min-width: 480px) and (max-width: 830px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
    
}
@media (min-width: 830px) and (max-width: 992px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
.radio-group {
  display: table;
  margin: 0 auto;
  text-align: left;
}
.radio-group input[type=radio] {
  display: none;
}
.radio-group label.active:before {
  background: url(img/sprite.png) no-repeat 0 50%;
  content: " ";
  width: 21px;
  height: 21px;
}
.radio-group label:before {
  background: url(img/sprite.png) no-repeat -25px 50%;
  content: " ";
  display: inline-block;
  margin-right: 8px;
  width: 21px;
  height: 21px;
  vertical-align: sub;
}
.radio-group label {
  display: block;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f2f2f2;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
  max-width: none;
}

.service-column-goto-action .linktitle {

    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f2f2f2;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    max-width: none;
  }

.service-column-goto-action ul{

    text-align: left;
    list-style-type: none;        
}

.navbar-form {
  margin-top: 30px;
}
.buttons {
  margin-top: 16px;
}
.content-container {
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 1200px;
  /*overflow: hidden;*/
}
.content-container.no-margin {
  margin-bottom: 0;
}
.caret {
  transition: transform 0.4s linear;
}
.caret.open {
  transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
/*
  components
*/
label.title-black {
    display:inherit;
}

header {
  background-color: white;
}
.header-navigation {
  border-style: none;
  height: 30px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 5px 0;
}
.navigation-list {
  float: right;
  margin: 0;
  padding: 0;
}
.navigation-list .navigation-item {
  display: table-cell;
  list-style: none;
  padding: 0 10px;
}
.navigation-list .navigation-item.has-dropdown {
  position: relative;
}
.navigation-list .navigation-item img {
  margin-bottom: 7px;
}
.navigation-list .navigation-item a {
  display: block;
  letter-spacing: 1px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666666;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
}
.navigation-list .navigation-item a:hover {
  text-decoration: none;
}
.navigation-sublist {
  background-color: white;
  margin: 5px -15px;
  padding: 10px 18px;
  position: absolute;
  text-align: right;
  transition: height 1s ease-out 0.5s;
  width: 100%;
  z-index: 11;
}
.navigation-sublist li {
  list-style: none;
  padding: 5px 0;
}
.navigation-sublist a:hover {
  color: #c5c5c6;
}
.header-bottom {
  display: none;
}
.footer {
  height: inherit;
  padding: 15px;
}
.footer .footer-wrapper {
  box-sizing: content-box;
  height: 70px;
  margin: 0 auto;
  max-width: 1030px;
  padding: 1%;
}
.footer-navigation {
  padding: 0;
  margin-left: 0;
  margin-top: 2.1%;
}
.footer-navigation .navigation {
  padding-left: 10px;
}
.footer-navigation .navigation .navigation-item {
  border-left: 1px solid #666666;
}
.footer-navigation .navigation .navigation-item:first-child {
  border-left: none;
}
.footer-logo {
  float: left;
  margin: 0;
  padding: 0;
}
.footer-logo .allegion-logo-large {
  margin-left: 80px;
}
.social-links {
  margin-top: 1.7%;
  padding: 0;
 /*width: 25%;*/
}
.social-links .navigation-item {
  border-left: none;
  padding: 0 4px;
}
.navigation-item {
  display: inline-block;
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
}
.navigation-item a {
  letter-spacing: 1px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666666;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
}
.navigation-item a:hover {
  text-decoration: none;
}
.copyright {
  /* letter-spacing: 1px; */
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666666;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
}
.header-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 95%;
}
.logo {
  background-color: transparent;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 15px;
}
/*
  Main Navigation for Desktop
*/
 .dropdown-image{position:absolute;top:10px; left:130px;}


.fixed-area.affix,
.fixed-area.affix-bottom {
  background: #f2f2f2;
  z-index: 17;
}
.fixed-area.affix-bottom {
  position: relative;
}
.fixed-area.affix {
  top: 0;
  position: fixed !important;
  width: 100%;
}
.fixed-area.affix > .row {
  background: #f2f2f2;
}
.fixed-area.affix > .row {
  background: #f2f2f2;
}
.fixed-area.affix .header-wrapper {
  padding: 5px 0 5px;
}
.fixed-area.affix .main-navigation {
  background: #f2f2f2;
}
.fixed-area.affix + #homepage-carousel,
.fixed-area.affix + .teaserCarousel {
  margin-top: 0;
  padding-top: 145px;
}
.fixed-area.affix + .teaserCarousel #homepage-carousel {
  margin-top: 0;
}
.nav-container {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.nav-container.container {
  width: 100%;
}
.main-navigation,
.child-nav {
  width: 100%;
}
.main-navigation ul,
.child-nav ul {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
}
.main-navigation ul li,
.child-nav ul li {
  background-color: #ff671f;/*change*/
}
.main-navigation ul li a,
.child-nav ul li a {
  letter-spacing: 1px;
  padding: 13px 0;
  text-transform: uppercase;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f2f2f2;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
}
/*.main-navigation ul li a:hover,*/
.child-nav ul li a:hover {
   color: #1d252d;
}
/*.main-navigation .nav li.active a{color:#1d252d ;}*/
.main-navigation ul li.active,
.child-nav ul li.active {
  background-color: #fe8f1c;
}
.nav li a:hover,
.nav li a:focus {
  background-color: #fe8f1c;
}
.dropdown-menu {
  min-width: 100%;
}
.nav-container.affix {
  position: fixed;
  top: 0;
  z-index: 100;
}
/*
   Child Navigation for Desktop
*/
.child-nav .child {
  border-top: solid 2px #e7edf6;
  display: none;
}
.child-nav ul {
  display: none;
}
.child-nav ul li {
  background-color: rgba(242, 242, 242, 0.9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6f2f2f2, endColorstr=#e6f2f2f2);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6f2f2f2, endColorstr=#e6f2f2f2);
}
.child-nav ul li:hover {
  background-color: #bbcce5;
}
.child-nav ul li a {
  color: #1d252d;
  min-height: 62px;
}
.multiple-column-box {
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 60px;
  padding-top: 60px;
}
.multiple-column-box h1 {
  margin-bottom: 60px;
  margin-top: 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1d252d;
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}
.multiple-column-box h2 {
  margin-bottom: 60px;
  margin-top: 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1d252d;
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}
.multiple-column-box .column {
  float: left;
  margin: 15px;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  /*width: 46.5%;*/
}

.multiple-column-box .full-width{width:97.5%;}/*for all buisness unit coloumns on all templates for half width except content page template(without sideNavigation pages)*/
.multiple-column-box .half-width{width:46.5%;}/*for all buisness unit coloumns on all templates for half width*/

.content-page .multiple-column-box .full-width{width:75%;} /*only for Content Page template*/

.multiple-column-box .column:last-child {
  float: right;
}
.multiple-column-box .column.transparent-grey {
  background-color: rgba(157, 158, 160, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d9d9ea0, endColorstr=#4d9d9ea0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d9d9ea0, endColorstr=#4d9d9ea0);
}
.multiple-column-box .column.transparent-grey,
.multiple-column-box .column.transparent-blue {
  height: 485px;
}
.multiple-column-box .column .content-links {
  display: table;
  margin: 0;
  width: 100%;
}
.multiple-column-box .column .content-links .wrapper {
  line-height: 2.5em;
  padding-left: 85px;
  padding-top: 36px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}
.multiple-column-box .column .content-links .wrapper a {
  margin-bottom: 10px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1d252d;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
}
.multiple-column-box .column.blue {
  position: relative;
  background-color: rgba(133, 175, 213, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d85afd5, endColorstr=#4d85afd5);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d85afd5, endColorstr=#4d85afd5);
}
.multiple-column-box .column-content.grey,
.multiple-column-box .column-button.grey {
  background: #9d9ea0;
}
.multiple-column-box .column-content.blue,
.multiple-column-box .column-button.blue {
  background: #005ea8;
}
.multiple-column-box .column-content {
  border-bottom: 2px solid #0c5ba5;
  height: 16%;
  margin-bottom: 2px;
  padding: 17px;
}
.multiple-column-box .column-content.grey-light,
.multiple-column-box .column-content.dark-blue {
  border-bottom: none;
}
.multiple-column-box .column-content.grey-light h2,
.multiple-column-box .column-content.dark-blue h2 {
  color: #f2f2f2;
}
.multiple-column-box .column-content h2 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0c5ba5;
  font-size: 37px;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  text-align: center;
}
.multiple-column-box .column-button {
  border-radius: 0;
  display: block;
  height: auto;
  padding: 5px 0;
  white-space: normal;
  width: 100%;
}
.multiple-column-box .column-button.grey-light,
.multiple-column-box .column-button.dark-blue {
  padding: 27px 0;
}
.multiple-column-box .column-button.grey-light .title,
.multiple-column-box .column-button.dark-blue .title {
  color: #f2f2f2;
}
.multiple-column-box .column-button.grey-light .title::before,
.multiple-column-box .column-button.dark-blue .title::before {
  content: initial;
}
.multiple-column-box .column-button .wrapper {
  margin: 0 auto;
  margin-top: 22px;
  text-align: center;
}
.multiple-column-box .column-button .wrapper .icon {
  bottom: 5px;
  padding-right: 5px;
  text-align: right;
}
.multiple-column-box .column-button .wrapper .text {
  padding-left: 5px;
  vertical-align: middle;
  width: 60%;
}
.multiple-column-box .column-button .title {
  background: url(img/arrow-right-large.png) no-repeat left center;
  display: inline-block;
  height: 27px;
  letter-spacing: 2px;
  line-height: 27px;
  margin: 0;
  padding-left: 25px;
  position: relative;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0c5ba5;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}
.multiple-column-box .column-button .title::before {
  border: 2px solid #0c5ba5;
  border-left: none;
  border-top: none;
  content: "";
  display: inline-block;
  left: -10px;
  position: absolute;
  top: 3px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 18px;
  height: 18px;
}
.service-container {
  margin: 0 auto;
  max-width: 1080px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.service-container .column-wrapper {
  padding-left: 0;
  padding-right: 0;
}
.service-container .image-media {
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 5px;
}
.service-container .image-media img {
  width: 100%;
}
.service-container ul {
  display: table;
  margin: 0 auto;
  padding-left: 20px;
}
.service-container .if-button {
  margin-top: 10px;
  min-width: 163px;
}
.service-column {
  color: #f2f2f2;
  padding: 30px;
  text-align: center;
}
.service-column h2 {
  margin: 20px 0 20px 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: none;
}


label.title-black h2{
    color:#000000;
}

label.title-white h2{
    color:#FFFFFF;
}

label.title-gray h2{
    color:#b2b2b2;
}


.service-column p {
  margin-bottom: 10px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: inherit;
  font-size: 14px;
  font-weight: 350;
  font-style: normal;
}
.grey-landing .service-column,
.color-regular_grey .service-column {
  color: #1d252d;
}
.service-column .newsItem:last-of-type {
  margin-bottom: 10px;
}
.service-column .newsItem .newsDate {
  color: black;
  font-style: italic;
  font-size: 11px;
  margin-top: 5px;
}
.serviceColumn {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid #f2f2f2;
}
@media (min-width: 830px) {
  .serviceColumn {
    float: left;
    width: 33.33333333%;
  }
}
.serviceColumn:first-child {
  border-left: none;
}
.grey-landing .serviceColumn,
.color-regular_grey .serviceColumn,
.grey-content .serviceColumn {
  border-color: #9d9ea0;
}
.grey-landing .if-button,
.color-regular_grey .if-button,
.grey-content .if-button {
  border-color: #9d9ea0;
  color: #1d252d;
}
.grey-landing .if-button:hover,
.color-regular_grey .if-button:hover,
.grey-content .if-button:hover {
  color: #b6b7b9;
}
.grey-landing .service-column h2,
.color-regular_grey .service-column h2,
.grey-content .service-column h2,
.grey-landing .service-column p,
.color-regular_grey .service-column p,
.grey-content .service-column p {
  color: #1d252d;
}
.carousel img {
  margin: 0 auto;
}
.carousel-indicators {
  bottom: 0;
  left: auto;
  margin-bottom: 0;
  right: 0;
  width: auto;
}
.carousel-indicators li {
  background-color: transparent;
  border-radius: 0;
  border: none;
  line-height: 40px;
  margin: 0;
  text-align: center;
  text-indent: 0;
}
.carousel-indicators li,
.carousel-indicators li.active {
  height: 40px;
  width: 40px;
}
.carousel-indicators li.active {
  background-color: #c5c5c6;
  color: white;
}
.carousel-indicators .left,
.carousel-indicators .right {
  background: #e3c4b6 no-repeat center center;
  bottom: 0;
  color: white;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-bottom: 0;
  text-align: center;
  text-indent: 0;
  vertical-align: bottom;
  width: 40px;
}
.carousel-indicators .left:hover,
.carousel-indicators .right:hover {
  background-color: #d59d85;
  text-decoration: none;
}
.carousel-indicators .left {
  background-image: url(img/arrow-left.png);
}
.carousel-indicators .right {
  background-image: url(img/arrow-right.png);
}
.carousel-caption {
  bottom: 15px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  font-style: none;
  right: auto;
  text-align: left;
  text-shadow: none;
  top: 3%;
  z-index: 1;
}
.carousel-caption h2 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0c5ba5;
  font-size: 40px;
  font-weight: normal;
  font-style: none;
  margin-top: 0;
}
.carousel-caption h1 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0c5ba5;
  font-size: 24px;
  font-weight: normal;
  font-style: none;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}
.carousel-caption .morelink,
.carousel-caption .morelink:visited {
  color: #9d9ea0;
  text-decoration: none;
}
.carousel-caption .morelink .glyphicon,
.carousel-caption .morelink:visited .glyphicon {
  font-size: 16px;
  top: 3px;
}
.carousel-caption .caption-text {
  height: auto;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
}
.block.carousel-container {
  padding: 0 3.45%;
}
.if-carousel {
  position: relative;
}
.if-carousel .frame {
  overflow: hidden;
  position: relative;
}
.if-carousel ul {
  left: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 5000%;
}
.if-carousel li {
  float: left;
  list-style: none;
  padding: 0 0.124%;
  width: 1%;
}
.if-carousel li.even {
  margin-right: 0;
}
.if-carousel li img {
  width: 100%;
}
.if-carousel li .bottom-text h4 {
  margin-bottom: 0;
  margin-top: 35px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 12px;
  font-weight: 600;
  font-style: none;
  text-transform: uppercase;
}
.if-carousel .carousel-control {
  position: static;
}
.if-carousel .carousel-control > div {
  cursor: pointer;
  font-size: 4.4em;
  margin-top: -44px;
  top: 50%;
}
.if-carousel .carousel-control .fa-angle-left {
  left: -25px;
}
.if-carousel .carousel-control .fa-angle-right {
  right: -25px;
}
.remaining-content span {
  display: none;
}
.more-button {
  align-content: center;
  border: 1px solid #f2f2f2;
  border-radius: 0;
  bottom: 0;
  letter-spacing: 2px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0c5ba5;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.more-button:focus {
  outline: none;
}
.news {
  background: no-repeat center top;
  background-size: cover;
  background-color: rgba(182, 205, 227, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4db6cde3, endColorstr=#4db6cde3);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4db6cde3, endColorstr=#4db6cde3);
}
.news .column-wrapper {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  font-style: none;
  left: 20px;
  padding-left: 16px;
  padding-right: 16px;
  right: auto;
  text-align: left;
  text-shadow: none;
  top: 15%;
}
.news .column-wrapper h2 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0c5ba5;
  font-size: 36px;
  font-weight: normal;
  font-style: none;
}
.news .column-wrapper h1 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0c5ba5;
  font-size: 24px;
  font-weight: normal;
  font-style: none;
  overflow: hidden;
  height: 80px;
}
.news .column-wrapper h3 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0c5ba5;
  font-size: 24px;
  font-weight: normal;
  font-style: none;
  overflow: hidden;
  height: 80px;
}
.news .column-wrapper a,
.news .column-wrapper .small-text {
  font-size: 10px;
}
.news .column-wrapper a {
  text-decoration: underline;
}
.news .column-wrapper .image {
  background: no-repeat left top;
  margin-top: 25px;
  padding: 5px;
}
.news .column-wrapper .image img {
  width: 100%;
}
.news .service-container .column-wrapper {
  border: none;
  padding-left: 16px;
  padding-right: 16px;
}
.parbase .billboard {
  padding: 0 30px;
}
.billboard .container {
  background: no-repeat right top;
  max-width: 1200px;
  min-height: 525px;
  padding: 0;
}
.billboard .caption {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1d252d;
  font-size: 14px;
  font-weight: normal;
  font-style: none;
  margin-bottom: 20px;
  margin-top: 50px;
  padding: 15px;
}
.billboard h2 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #9d9ea0;
  font-size: 30px;
  font-weight: normal;
  font-style: none;
  margin-top: 8px;
}
.billboard h1 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #9d9ea0;
  font-size: 24px;
  font-weight: normal;
  font-style: none;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}
.billboard .description {
  margin-top: 20px;
}
.billboard .picture {
  display: none;
}
.billboard img {
  display: none;
}
.billboard.no-text .container {
  min-height: initial;
}
.billboard.no-text img {
  display: block;
  float: right;
  /*max-width: 988px;*/
  width: 100%;
}
.billboard.blue-light h2 {
  color: #005ea8;
}
.six-cell-component {
  background: none;
}
.six-cell-component .hover-text {
  display: none;
  padding: 0;
}
.six-cell-component .cell-button {
  border: solid 2px white;
  height: 275px;
}
.six-cell-component .cell-button a.div-link {
  height: 100%;
  left: 0;
  position: absolute;
  text-decoration: none;
  top: 0;
  width: 100%;
  z-index: 10;
}
.six-cell-component .cell-button .button-row {
  height: 100%;
}
.six-cell-component .cell-button .button-icon {
  height: 65px;
  margin-top: 20px;
}
.six-cell-component .cell-button:hover .button-icon,
.six-cell-component .cell-button:hover .button-link {
  display: none;
}
.six-cell-component .cell-button:hover .hover-text {
  display: table;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  padding: 15px;
  text-align: center;
}
.six-cell-component .cell-button:hover .hover-text p {
  display: table-cell;
  margin: 0;
  vertical-align: middle;
}
.six-cell-component .cell-button.heading-blue {
  background: #f2f2f2;
}
.six-cell-component .cell-button.heading-blue:hover {
  background-color: #85afd5;
}
.six-cell-component .cell-button.heading-blue .link-title {
  color: #337ab7;
}
.six-cell-component .cell-button.grey-light {
  background: #9d9ea0;
}
.six-cell-component .cell-button.grey-light:hover {
  background-color: #d8d8d9;
}
.six-cell-component .cell-button.grey-light .link-title {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}
.six-cell-component .cell-button.blue:hover {
  background-color: #005ea8;
}
.six-cell-component .cell-button.blue .link-title {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f2f2f2;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
}
.six-cell-component .cell-button.low {
  height: 90px;
}
.six-cell-component .cell-button.low .button-link {
  background-position: 20px 53%;
  text-align: left;
}
.six-cell-component .cell-button.low .link-title {
  padding-left: 80px;
  padding-top: 0;
  vertical-align: middle;
}
.six-cell-component .button-link {
  background: no-repeat center 65%;
  display: table;
  height: 100%;
  padding: 0;
  text-align: center;
}
.six-cell-component .button-link .link-title {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  display: table-cell;
  letter-spacing: 2px;
  padding-top: 30px;
  text-transform: uppercase;
}
.service-slot {
  background: no-repeat left center;
  display: block;
  height: 68px;
  padding-left: 78px;
}
.service-slot.vertical {
  background-position: center top;
  height: auto;
  padding-left: 0;
  padding-top: 80px;
  text-align: center;
}
.service-slot.vertical .service-title {
  line-height: normal;
}
.service-slot.small {
  background-position-x: left;
  height: 32px;
  padding-left: 38px;
}
.service-slot.small .service-title {
  color: #333333;
  font-size: 13px;
  letter-spacing: normal;
  line-height: 32px;
}
.service-slot .service-title {
  display: inline-block;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f2f2f2;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 2px;
  line-height: 68px;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
}
.service-slot.square {
  background-position: center 30%;
  height: 190px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5%;
  position: relative;
  text-align: center;
}
.service-slot.square .service-title {
  bottom: 3%;
  color: #222222;
  font-size: 13px;
  left: 0;
  letter-spacing: 1px;
  line-height: inherit;
  position: absolute;
}
.service-slot.square.grey {
  background-color: #f2f2f2;
}
.service-icons {
  clear: both;
  padding: 15px;
}
.service-icons .service-icons-wrapper {
  max-width: 730px;
  margin: 0 auto;
}
.service-icons .service-icons-wrapper.centered {
  width: 50%;
}
.wide.service-icons .service-icons-wrapper {
  max-width: 1200px;
}
.service-icons .service-icons-wrapper.offset {
  max-width: 1200px;
}
.service-icons .service {
  height: 100%;
}
.service-icons .share-service-icon {
  cursor: pointer;
  position: relative;
  z-index: 16;
}
.service-icons .share-service-icon.with-label ul {
  left: 0;
  margin-left: -68px;
}
.service-icons .share-service-icon ul {
  left: 24%;
  list-style: none;
  margin: 0;
  margin-left: -100px;
  padding: 0;
  position: absolute;
  top: -70px;
  z-index: 10000;
  transition: transform 0.3s ease-in;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  width: 200px;
  height: 200px;
}
.service-icons .share-service-icon li {
  width: 54px;
  height: 54px;
  background: no-repeat center center;
  cursor: pointer;
  left: 72px;
  overflow: hidden;
  position: absolute;
  top: 72px;
  transition: top 0.3s ease-in, left 0.3s ease-in, transform 0.2s ease-in;
  -webkit-transition: top 0.3s ease-in, left 0.3s ease-in, -webkit-transform 0.2s ease-in;
}
.service-icons .share-service-icon li a {
  display: block;
  width: 54px;
  height: 54px;
}
.service-icons .share-service-icon .facebook {
  background-image: url(img/social/facebook.png);
}
.service-icons .share-service-icon .twitter {
  background-image: url(img/social/twitter.png);
}
.service-icons .share-service-icon .linkedin {
  background-image: url(img/social/linkedin.png);
}
.service-icons .share-service-icon .xing {
  background-image: url(img/social/xing.png);
}
.service-icons .share-service-icon .active {
  transform: rotate(-27deg);
  -webkit-transform: rotate(-27deg);
}
.service-icons .share-service-icon .active li:hover {
  transform: rotate(27deg);
  -webkit-transform: rotate(27deg);
}
.service-icons .share-service-icon .active li.facebook {
  top: 67px;
  left: 32px;
}
.service-icons .share-service-icon .active li.twitter {
  left: 35px;
  top: 25px;
}
.service-icons .share-service-icon .active li.linkedin {
  left: 76px;
  top: 17px;
}
.service-icons .share-service-icon .active li.xing {
  left: 112px;
  top: 47px;
}
.if-button {
  border: 1px solid #c2d7ea;
  border-radius: 0;
  letter-spacing: 2px;
  line-height: 12px;
  padding: 14px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f2f2f2;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}
.if-button:focus {
  outline: none;
}
.if-button:hover {
  color: #f2f2f2;
}
.if-button.white-blue {
  background-color: white;
  border-color: #005ea8;
  color: #005ea8;
  padding: 8px 9px;
}
.carousel-column-wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
.carousel-column-wrapper .content {
  margin-bottom: 50px;
  padding-top: 40px;
}
.carousel-column-wrapper .content.text h2 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #9d9ea0;
  font-size: 30px;
  font-weight: normal;
  font-style: none;
  padding-left: 30px;
}
.column-slide-wrapper {
  border: solid 2px #d8d8d9;
}
h1.no-top-margin {
  margin-bottom: 65px;
  margin-top: 0;
}
.bottom-text {
  padding: 25px 20px 15px;
}
.bottom-text h3 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0c5ba5;
  font-size: 24px;
  font-weight: normal;
  font-style: none;
}
.bottom-text .caption-text .short,
.bottom-text .caption-text .long {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 11px;
  font-weight: 350;
  font-style: normal;
  line-height: 1.8em;
}
.bottom-text .morelink,
.bottom-text .morelink:visited {
  color: #9d9ea0;
  text-decoration: none;
}
.bottom-text .morelink .glyphicon,
.bottom-text .morelink:visited .glyphicon {
  font-size: 16px;
  top: 3px;
}
.if-carousel .if-button {
  border-color: #9d9ea0;
  color: #1d252d;
  float: right;
}
.if-carousel .if-button:hover {
  color: #b6b7b9;
}
.text-image,
.text-gallery {
  margin-top: 38px;
}
.text-image > div,
.text-gallery > div {
  margin-bottom: 42px;
}
.text-image .content.video,
.text-gallery .content.video {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.text-image.image-left .text p,
.text-gallery.image-left .text p {
  padding-left: 0;
  padding-right: 30px;
}
.text-image.bordered,
.text-gallery.bordered {
  border-bottom: 2px solid #005ea8;
}

.text-image.news-list h2 a{
    text-decoration: none;
    color: #9D9EA0;
 }

.text-image.news-list a{
    text-decoration: none;
    color: #FE8F1C;
 }

.text-image.news-list h2,
.text-gallery.news-list h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-left: 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #9D9EA0;
  font-size: 30px;
  font-weight: normal;
  font-style: none;
}
.text-image.news-list h2 + div,
.text-gallery.news-list h2 + div {
  margin-left: 0;
  padding-left: 0;
}
.text-image.news-list .press-wrapper p,
.text-gallery.news-list .press-wrapper p {
  margin-top: 0;
  padding-right: 0;
}
.text-image.news-list .press-wrapper .text,
.text-gallery.news-list .press-wrapper .text {
  padding-left: 0;
}
.text-image .press-wrapper,
.text-gallery .press-wrapper {
  margin-bottom: 30px;
  margin-top: 30px;
}
.text-image .press-wrapper h2,
.text-gallery .press-wrapper h2 {
  margin-left: 0;
}
.text-image .press-wrapper h2 + div,
.text-gallery .press-wrapper h2 + div {
  padding-left: 0;
}
.text-image h2,
.text-gallery h2 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #9d9ea0;
  font-size: 30px;
  font-weight: normal;
  font-style: none;
  margin-left: 15px;
  margin-top: 0;
}
.text-image .text p,
.text-gallery .text p {
  line-height: 1.8em;
  padding-right: 30px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1d252d;
  font-size: 14px;
  font-weight: normal;
  font-style: none;
}
.text-image .text.press-text,
.text-gallery .text.press-text {
  padding-left: 0;
}
.text-image .text.press-text h2,
.text-gallery .text.press-text h2 {
  margin-bottom: 40px;
  margin-top: 0;
  margin-left: 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #005ea8;
  font-size: 30px;
  font-weight: normal;
  font-style: none;
}
.text-image .text.press-text p,
.text-gallery .text.press-text p {
  margin-top: 0;
}
.text-image .text.press-text p.news-date,
.text-gallery .text.press-text p.news-date {
  margin-bottom: 0;
}
.text-image .col-md-3,
.text-gallery .col-md-3 {
  padding: 0;
}
.text-image .image,
.text-gallery .image {
  background: no-repeat center center;
  background-size: contain;
}
.text-image .image img,
.text-gallery .image img {
  max-width: 300px;
}
.text-image .image a,
.text-gallery .image a {
  display: block;
  height: 100%;
  width: 100%;
}
.text-image .image.press-image,
.text-gallery .image.press-image {
  margin: 0 auto 50px;
  width: 100%;
}
.text-image .image.press-image img,
.text-gallery .image.press-image img {
  display: block;
  max-width: 100%;
}
.text-image .image.press-image .video-thumbs,
.text-gallery .image.press-image .video-thumbs {
  background-size: contain;
  left: 57px;
  margin: 0 auto;
  min-width: 100%;
  padding-top: 0;
  top: 236px;
}
.text-image .image.press-image .video-thumbs .thumb,
.text-gallery .image.press-image .video-thumbs .thumb {
  margin-left: 0;
  margin-right: 0;
  opacity: 0.35;
  padding-left: 0;
  width: 25%;
}
.text-image .image.press-image .video-thumbs .thumb img,
.text-gallery .image.press-image .video-thumbs .thumb img {
  margin: 0 auto;
  max-width: 100%;
}
.text-image.html-one-col iframe,
.text-gallery.html-one-col iframe {
  max-width: 100%;
}
.text-image .video,
.text-gallery .video {
  margin-bottom: 42px;
}
.text-image .video iframe,
.text-gallery .video iframe {
  height: 100%;
  position: absolute;
  width: 100%;
}
.text-gallery {
  padding: 0;
}
.body-container {
  height: 0;
  margin: 0 auto;
  max-width: 1200px;
}
.content-menu {
  border: 2px solid #e1e1e1;
  margin-left: 60px;
  overflow: hidden;
  position: relative;
  top: 17px;
  width: 175px;
  z-index: 1;
}
.content-menu.all-blue {
  border: none;
}
.content-menu.all-blue h3 {
  background-color: #005ea8;
  border-bottom: 1px solid white;
  color: white;
}
.content-menu.all-blue .panel-title {
  text-transform: uppercase;
}
.content-menu.all-blue .panel-title,
.content-menu.all-blue .panel-title:hover {
  background-color: #85afd5;
}
.content-menu.all-blue .panel-body {
  background-color: #b1cbe4;
  color: black;
  padding: 0;
}
.content-menu.all-blue .panel-body a {
  color: black;
  display: block;
  padding: 10px 15px;
}
.content-menu.all-blue .list-group-item {
  border-top: 1px solid white;
  padding: 0;
}
.content-menu.all-blue .list-group-item:first-child {
  border-top: none;
}
.content-menu.all-blue .list-group-item.active {
  border-bottom: 1px solid white;
}
.content-menu.all-blue .list-group-item.active,
.content-menu.all-blue .list-group-item:hover {
  background-color: #005ea8;
}
.content-menu.all-blue .list-group-item.active a,
.content-menu.all-blue .list-group-item:hover a {
  color: white;
}
.content-menu.affix {
  position: fixed;
  top: 187px;
  top: 244px;/*187px;*/
}
.content-menu.affix-bottom {
  position: relative;
}
.content-menu a:hover,
.content-menu a:focus {
  text-decoration: none;
}
.content-menu h3 {
  background-color: #ffffff;
  cursor: pointer;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  padding: 9px 32px 9px 15px;
  text-transform: uppercase;
}
.collapse.content-menu h3 {
  /*background-image: url(img/sprite.png);
  background-position: -85px 50%;
  background-repeat: no-repeat;*/
}
.content-menu.closed .panel {
  display: none;
}
.content-menu.closed h3 {
  background-position: -285px 50%;
}
.content-menu .panel-heading {
  border-radius: 0;
  border: none;
  padding: 0;
}
.content-menu .panel-heading a,
.content-menu .panel-heading span {
  display: block;
  padding: 10px 15px;
}
.content-menu .panel {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}
.content-menu .panel:last-child {
  border-bottom: none;
}
.content-menu .panel-title {
  background: #f86700;
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
}

.content-menu .panel-title.active {
  background-color: #fe8f1c;
}
.content-menu .panel-title:hover {
  background-color: #fe8f1c;
}
.content-menu .active .panel-title {
  background-color: #fb9d59;
}

/*news*/
.content-menu .highlight .panel-title {
 	background-color: #fe8f1c;
    color: #ffffff;
    text-transform: uppercase;
}

.body-container .content-menu  h3{
    color: #FF671F;
    text-decoration: none;
}

/*end */
.content-menu .list-group {
  margin-bottom: 0;
}
.content-menu .list-group-item {
  background: none;
  border: 0;
  border-radius: 0;
  padding: 0 0 5px 0;
}
.content-menu .panel-body {
  background-color: inherit;
  font-size: 12px;
  padding: 5px 15px;
}
.content-menu .panel-body a {
  color: #9d9ea0;
}
.content-menu .panel-body a:hover {
  font-weight: bold;
}
.downloads {
  padding-top: 10px;
}
.download-icon {
  background: url(img/download-icon-interflex.png) no-repeat center center;
  background-size: contain;
  height: 60px;
  margin-top: 8px;
}
.download-icon a {
  color: white;
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 55px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.pdf {
  background: url(img/pdf-download.png) no-repeat center;
  height: 60px;
  margin-top: 8px;
}
.avi {
  background: url(img/avi-download.png) no-repeat center;
  height: 60px;
  margin-top: 8px;
}
.downloader {
  display: table;
  height: 100%;
  width: 100%;
}
.download-info {
  border-bottom: 1px solid #b6b7b9;
  display: table-cell;
  height: 100%;
  padding-bottom: 10px;
  vertical-align: middle;
}
.download-info h4 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #005ea8;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
  padding-bottom: 5px;
  padding-top: 0;
}
.download-info span {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666666;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
}
.scrollable-content {
  border: solid 1px #666666;
  height: 318px;
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}
.scrollable-content .images {
  display: block;
  margin: 0 auto 25px;
}
.article {
  margin-bottom: 50px;
  margin-top: 80px;
}

.article a {

    color: #FE8F1C;
	text-decoration: underline;
 }
.article h2 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #9D9EA0;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 58px;
}
.article h1 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #9D9EA0;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 58px;
}
.article p {
  margin-bottom: 23px;
}
.article .image-caption {
  font-size: 12px;
  margin-top: 12px;
  text-align: center;
}
.article .image {
  margin-bottom: 45px;
}
.article .image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.article .contact {
  border-top: 1px solid black;
  margin-top: 78px;
}
.article .contact p {
  margin: 0;
}
.article.one-column .images {
  float: right;
}
.article.one-column .simple-downloads {
  margin-bottom: 30px;
}
.article.one-column .contact {
  margin-top: 0;
}
.article-preview {
  border-bottom: 1px solid black;
  margin-bottom: 60px;
  padding-bottom: 35px;
}
.article-preview h2 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0c5ba5;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 23px;
  margin-top: 3px;
}
.article-preview h2 + .text {
  padding-left: 0;
}
.article-preview p {
  margin-bottom: 23px;
}
.article-preview .image-caption {
  font-size: 12px;
  margin-top: 12px;
  text-align: center;
}
.article-preview .image {
  margin-bottom: 30px;
}
.article-preview .image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.archive-list {
  clear: both;
  padding: 20px 15px 15px;
  margin-bottom: 50px;
}
.archive-list h4 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  margin-top: 0;
}
.archive-list ul {
  background-color: white;
  font-size: 12px;
  list-style: none;
  max-height: 200px;
  overflow: auto;
  padding: 12px;
}
.archive-list li {
  margin-bottom: 20px;
}
.archive-list .more {
  font-size: 10px;
}
.archive-thread .archive-heading {
  margin-bottom: 38px;
}
.archive-thread .archive-heading h2 {
  color: #005ea8;
  margin-left: 0;
}
.archive-thread .archive-heading p {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
}
.archive-thread .archive a {
  font-style: italic;
}
.archive-thread .archive-article {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  font-style: none;
}
.archive-thread .archive-article .article-title {
  color: #005ea8;
  font-weight: bold;
  text-transform: uppercase;
}
.archive-thread .content.archive {
  margin-bottom: 0;
  padding-top: 0;
}
.archive-thread .archive-icons {
  margin-top: 10px;
}
.archive-thread .icon {
  background-image: url(img/news-archive/archive-news-icons.png);
  background-repeat: no-repeat;
  float: left;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}
.archive-thread .icon.sharing-icon {
  background-position-x: -88px;
}
.archive-thread .icon.doc-icon {
  background-position-x: -60px;
}
.archive-thread .icon.image-icon {
  background-position-x: -28px;
}
.archive-thread .icon.video-icon {
  background-position-x: 5px;
}
.archive-thread img {
  display: block;
  max-width: 100%;
}
.share {
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
}
.share.large {
  height: 95px;
}
.share.large > div {
  background-position: -465px 50%;
  background-size: 500px;
}
.share.large span {
  font-size: 16px;
  line-height: 45px;
  margin-left: 45px;
  width: 120px;
}
.share.large ul {
  border-width: 0 1px 1px 1px;
  height: 45px;
  padding: 6px 7px;
  transition: top 0.5s ease-out;
  -webkit-transition: top 0.5s ease-out;
  -moz-transition: top 0.5s ease-out;
  width: 100%;
}
.share.large ul.visible {
  left: 0;
  top: 45px;
}
.share.large li {
  background-size: 31px;
  height: 31px;
  width: 31px;
}
.share.large li.facebook {
  background-position: 0 0;
}
.share.large li.twitter {
  background-position: 0 -31px;
}
.share.large li.xing {
  background-position: 0 -62px;
}
.share.large li.linkedin {
  background-position: 0 -93px;
}
.share.large a {
  height: 31px;
  width: 31px;
}
.share > div {
  background: url(img/sprite.png) no-repeat -376px 50% #FE8F1C;
  background-size: 400px;
  position: relative;
  z-index: 1;
}
.share span {
  border-left: 1px solid white;
  display: block;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  line-height: 30px;
  margin-left: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
}
.share ul {
  border: solid #FE8F1C;
  border-width: 1px 1px 1px 0;
  cursor: auto;
  height: 30px;
  left: 0;
  overflow: hidden;
  padding: 4px 7px;
  position: absolute;
  top: 0;
  transition: left 0.5s ease-out;
  -webkit-transition: left 0.5s ease-out;
  -moz-transition: left 0.5s ease-out;
  width: 100%;
  z-index: 0;
}
.share ul.visible {
  left: 100%;
}
.share li {
  background: url(img/social.png) no-repeat;
  background-size: 21px;
  cursor: pointer;
  float: left;
  width: 21px;
  height: 21px;
  list-style: none;
  margin-left: 5px;
}
.share li:first-child {
  margin-left: 0;
}
.share li.facebook {
  background-position: 0 0;
}
.share li.twitter {
  background-position: 0 -21px;
}
.share li.xing {
  background-position: 0 -41px;
}
.share li.linkedin {
  background-position: 0 -63px;
}
.share a {
  display: inline-block;
  width: 21px;
  height: 21px;
  text-indent: -9999px;
  white-space: nowrap;
}
.simple-downloads {
  margin-bottom: 115px;
}
.simple-downloads h4,
.simple-downloads ul {
  background-color: #eaf1f9;
}
.simple-downloads h4 {
  border-bottom: 2px solid transparent;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0c5ba5;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 2px;
  padding: 16px 15px 11px;
}
.simple-downloads a {
  color: black;
}
.simple-downloads ul {
  list-style: none;
  font-size: 12px;
  padding: 18px 35px;
}
.simple-downloads li {
  margin-bottom: 13px;
}
.search-results .results-list {
  list-style: none;
  margin-top: 35px;
  padding-left: 0;
}
.search-results .results-list .description {
  line-height: 22px;
}
.search-results .results-list .contact {
  margin-top: 15px;
}
.search-results .results-list .image {
  margin-top: 10px;
}
.search-results li {
  margin: 0;
  margin-bottom: 20px;
  padding: 25px;
}
.search-results .highlight {
  background-color: #d4deef;
}
.search-results .partner li {
  margin-bottom: 0;
  padding: 0;
}
.partner-data {
  overflow: hidden;
}
.contact {
  padding-top: 10px;
}
.contact .line .glyphicon {
  color: #005ea8;
  margin-right: 1px;
}
.contact .email,
.contact .www {
  font-style: italic;
}
.partner-select select {
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.partner-select .partner-list,
.partner-select .submit {
  margin-bottom: 50px;
  margin-top: 50px;
  width: 100%;
}
.partner-select .partner-list {
  border-color: transparent;
  color: #85afd5;
}
.partner-select .submit {
  border: 0;
  border-radius: 0;
  background-color: #85afd5;
  color: white;
  min-height: 100%;
}
.find-partner {
  margin: 0 auto;
  max-width: 1030px;
}
#imagelightbox {
  position: fixed;
  z-index: 21;
  -ms-touch-action: none;
  touch-action: none;
}
#lightbox-overlay {
  background-color: white;
  height: 100%;
  left: 0;
  opacity: 0.8;
  filter: "alpha(opacity=80)";
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}
.lightbox-loading {
  background: url(img/loader.gif) no-repeat center center;
  height: 128px;
  left: 50%;
  margin-left: -64px;
  margin-top: -64px;
  position: fixed;
  top: 50%;
  width: 128px;
  z-index: 22;
}
.lightbox-close,
.lightbox-arrow {
  color: #9d9ea0;
}
.lightbox-close:hover,
.lightbox-arrow:hover {
  color: #666666;
}
.lightbox-close {
  cursor: pointer;
  height: 30px;
  font-size: 35px;
  position: fixed;
  right: 100px;
  top: 100px;
  width: 30px;
  z-index: 22;
}
.lightbox-arrow {
  cursor: pointer;
  font-size: 6em;
  left: 50px;
  margin-top: -42px;
  position: fixed;
  top: 50%;
  z-index: 22;
}
.lightbox-arrow-right {
  left: auto;
  right: 50px;
}
.formColumn .formParsys .section.hidden {
  display: block !important;
  visibility: visible !important;
  margin-bottom: 0;
}
.formColumn .formParsys .section {
  margin-bottom: 15px;
}
.formColumn .formParsys .form_leftcolmark {
  display: none;
}
.color-wrapper-1 {
  background-color: #f2f2f2;
  padding: 0 0 0;
}
.color-wrapper-2 {
  background: url(img/interflex-producte-background.png) no-repeat left center;
  background-color: #f2f2f2;
  background-size: cover;
}
#homepage-carousel {
  margin: 0 auto;
  width: 100%;
}
.caption-text.short .long,
.caption-text.short .morelink.long,
.caption-text.long .morelink.short {
  display: none;
}
.caption-text div,
.caption-text p {
  display: inline;
}
.color-wrapper-2.no-image {
  background-image: none;
  background-color: white;
}
.color-wrapper-1.landing {
  min-height: 174px;
}
.content-page #recommendations-carousel {
  min-height: 365px;
}
.content-page #recommendations-carousel .carousel-control > div {
  top: 25%;
}
.content-page #recommendations-carousel .frame {
  min-height: 345px;
  max-width: 800px;
}
.content-page #recommendations-carousel li {
  min-height: 345px;
}
.content-page #recommendations-carousel .bottom-text {
  padding: 0;
}
.content-page #products-carousel .frame {
  min-height: 455px;
}
.content-page #products-carousel li {
  min-height: 455px;
  padding: 0 0.046%;
  width: 0.6666%;
}
.content-page #products-carousel h3 {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 0;
}
.content-page #products-carousel .carousel-control .fa-angle-left {
  left: -65px;
}
.content-page #products-carousel .carousel-control .fa-angle-right {
  right: -65px;
}
.content-page #products-carousel .product-image {
  position: relative;
}
.content-page #products-carousel .label-icon {
  bottom: 5px;
  color: #85afd5;
  font-size: 18px;
  position: absolute;
  right: 5px;
  top: auto;
}
.content-page .download-block {
  padding-bottom: 50px;
}
.block {
  overflow: hidden;
  padding-left: 80px;
  padding-right: 80px;
}
.block h1 {
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1d252d;
  font-size: 24px;
  font-weight: normal;
  font-style: none;
}
.block h2 {
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1d252d;
  font-size: 24px;
  font-weight: normal;
  font-style: none;
}
.block .carousel-control {
  width: 0;
}
.block .angle {
  color: #808080;
  position: absolute;
}
.news-detail .share {
  margin-top: 20px;
}
.news-list .billboard {
  margin-bottom: 80px;
}
.news-list .share {
  margin-top: 5px;
}
.partners-page .billboard .container {
  min-height: 425px;
}
.partners-page .billboard .caption {
  margin-left: 35px;
}
.partners-page .content-container {
  margin-bottom: 60px;
  margin-top: 80px;
}
.partners-page .content-menu {
  margin-left: 40px;
  top: 0;
}
.partners-page h2,
.partners-page h4 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #005ea8;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
}
.partners-page h2 {
  margin-top: 0;
  font-size: 26px;
}
.partners-page h4 {
  margin-bottom: 20px;
  font-weight: 500;
}
.partners-page .sidebar {
  width: 31.333333%;
}
.partner-filter {
  padding-top: 50px;
  padding-bottom: 50px;
}
.partner-filter .navbar-center {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
/* mobile devices */
/*
======================
     Header section
======================
*/
@media (max-width: 1199px) {
  #homepage-carousel {
    padding: 0 30px;
  }
}
@media (max-width: 819px) {
  .fixed-area.affix + #homepage-carousel {
    padding-top: 104px;
  }
  #homepage-carousel {
    padding: 0;
  }
}
@media (max-width: 599px) {
  header .header-navigation {
    display: none;
  }
  .header-bottom {
    display: block;
  }
  .header-bottom .logo {
    display: none;
  }
  .header-bottom .navigation-list {
    float: left;
    margin-left: 8px;
  }
  .header-bottom .navigation-list a {
    font-size: 10px;
    letter-spacing: normal;
  }
  .fixed-area.affix + #homepage-carousel {
    padding-top: 72px;
  }
}
@media (max-width: 819px) {
  .header-wrapper {
    border-bottom: solid 1px #f2f2f2;
  }
  .header-wrapper .logo {
    padding-left: 20px;
  }
  .header-wrapper .hamburger .mobile-toggle {
    display: inline-block;
  }
  .header-wrapper .hamburger #accordion {
    display: block;
    overflow: auto;
  }
}
@media (max-width: 500px) and (min-width: 381px) {
  .header-wrapper .hamburger {
    margin: 0;
    padding-left: 0;
  }
  .header-wrapper .hamburger .mobile-toggle {
    width: 75px;
  }
}
@media (max-width: 380px) {
  .header-wrapper .hamburger .mobile-toggle {
    width: 42px;
  }
}
/*
======================
    Main navigation
======================
*/
@media (min-width: 820px){
  .nav-container {
    display: block;
  }
}
@media (max-width: 1130px) {
  .main-navigation ul > li > a,
  .child-nav ul > li > a {
    font-size: 13px;/*change*/
  }
  .color-wrapper-1.landing {
    min-height: 174px;
  }
  .fixed-area.affix + #homepage-carousel,
  .fixed-area.affix + .teaserCarousel {
    padding-top: 141px;
  }
}
/*
======================
    Carousel-section
======================
*/
@media (min-width: 819px) and (max-width: 1130px) {
  #homepage-carousel {
    margin-top: 40px;
  }
}
@media (min-width: 819px) and (max-width: 1199px) {
  .carousel-indicators {
    right: 30px;
  }
}
@media (min-width: 1131px) {
  #homepage-carousel {
    margin-top: 43px;
  }
  .carousel-caption {
    left: 10px;
    right: auto;
    width: 350px;
  }
}
@media (max-width: 1130px) and (min-width: 1056px) {
  .carousel-caption {
    left: 20px;
    right: auto;
	width: 40%;
    top: 12%;
  }
}
@media (min-width: 791px) and (max-width: 1055px) {
  .carousel-caption {
    font-size: 14px;
    left: 30px;
    top: 10%;
    width: 45%;
  }
  .carousel-caption h2 {
    font-size: 30px;
  }
}
@media (min-width: 661px) and (max-width: 790px) {
  .carousel-caption {
    font-size: 11px;
    left: 20px;
    top: 5%;
    width: 35%;
  }
  .carousel-caption h2 {
    font-size: 25px;
  }
}
@media (min-width: 600px) and (max-width: 660px) {
  .carousel-caption {
    left: 10px;
    top: 5%;
    width: 30%;
  }
  .carousel-caption h2 {
    font-size: 25px;
  }
  .carousel-caption .caption-text {
    display: none;
  }
}
@media (max-width: 459px) {
  .carousel-caption {
    left: 10px;
    top: 0;
    width: 40%;
  }
  .carousel-caption h2 {
    font-size: 15px;
  }
  .carousel-caption .caption-text,
  .carousel-caption .more-button {
    display: none;
  }
}
@media (min-width: 480px) {
  .carousel-indicators {
    bottom: 0;
  }
}
@media (min-width: 460px) and (max-width: 599px) {
  .carousel-caption {
    left: 10px;
    min-width: 200px;
    top: 5%;
    width: 25%;
  }
  .carousel-caption h2 {
    font-size: 20px;
  }
  .carousel-caption .caption-text {
    display: none;
  }
}
/*
======================
   Multi-box section
======================
*/
@media (min-width: 830px) and (max-width: 991px) {
  .multiple-column-box {
    max-width: 810px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .multiple-column-box .button {
    padding: 1px;
  }
  .multiple-column-box h1 {
    margin-bottom: 30px;
  }
  .multiple-column-box .column {
    margin: 5px;
  }
  .multiple-column-box .column .content-links .wrapper {
    padding-left: 75px;
  }
  .multiple-column-box .column-content {
    height: 14%;
  }
  .multiple-column-box .column-content h2 {
    font-size: 28px;
  }
  .multiple-column-box .column-button {
    height: 14%;
    padding-left: 0;
    padding-bottom: 5px;
    padding-top: 18px;
  }
}
@media (min-width: 600px) and (max-width: 829px) {
  .multiple-column-box {
    max-width: 810px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .multiple-column-box .button {
    padding: 1px;
  }
  .multiple-column-box h1 {
    margin-bottom: 30px;
  }
  .multiple-column-box .column {
    margin: 5px;
  }
  .multiple-column-box .column .content-links .wrapper {
    padding-left: 75px;
  }
  .multiple-column-box .column-content {
    height: 14%;
    padding: 20px;
  }
  .multiple-column-box .column-content h2 {
    font-size: 22px;
  }
  .multiple-column-box .column-button {
    height: 14%;
    padding: 18px 0;
  }
  .multiple-column-box .column-button .wrapper .icon img {
    margin-left: 0;
  }
  .multiple-column-box .column-button .text {
    vertical-align: middle;
    width: 60%;
  }
  .multiple-column-box .column-button .text .title {
    letter-spacing: 2px;
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f2f2f2;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
  }
}
@media (max-width: 599px) {
  .multiple-column-box {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .multiple-column-box h1 {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #1d252d;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
  }
  .multiple-column-box .column {
    float: none;
    height: inherit;
    margin: 10px;
    width: inherit;
  }
  .multiple-column-box .column:last-child {
    float: none;
  }
  .multiple-column-box .column .content-links .wrapper {
    padding-bottom: 30px;
    padding-left: 50px;
    padding-top: 30px;
  }
  .multiple-column-box .column .content-links .wrapper a {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .multiple-column-box .column .column-content {
    padding: 16px;
    padding-top: 18px;
  }
  .multiple-column-box .column .column-content h2 {
    font-size: 24px;
  }
  .multiple-column-box .column .column-button {
    padding-bottom: 15px;
  }
  .multiple-column-box .column .column-button .wrapper .text {
    width: 69%;
  }
  .lightbox-close {
    top: 25px;
  }
  .lightbox-arrow-left {
    left: 25px;
  }
  .lightbox-close,
  .lightbox-arrow-right {
    right: 25px;
  }
  #search_box{
    float: right;
    padding-top: 0px !important;
}
  
}

/*Search meadia queries*/
@media (max-width: 325px){
.search.searchField.cq-analyzable form input{width: 96%;float: left;}
.searchRight{display:none;}
input[type=submit]{display:none;}
.search.searchField.cq-analyzable {width: 100%;padding-left: 7px;}
.dropdown-image{top:5px;left:105px;}
.service-slot{background-size: 75px auto !important;}
}
@media (min-width: 320px) and (max-width: 480px) {
.search.searchField.cq-analyzable {width: 100%;padding-left: 7px;}
.searchRight{display:none;}
input[type=submit]{display:none;}
.search.searchField.cq-analyzable form input{width: 96%;float: left;}
.search.searchField.cq-analyzable form{margin-top: 1em;}
.dropdown-image{top:5px;left:105px;} 
.service-slot{background-size: 80px auto !important;}
.content-lander-page .service-slot {background-size: auto !important;}
.carousel-caption{position:relative;width: 100% !important;left: 0 !important;}
.carousel-indicators li,.carousel-indicators li.active {height: 40px;width: 20px !important;}
.carousel-indicators .left, .carousel-indicators .right{width: 20px !important;}
}
@media (min-width: 460px) and (max-width: 480px) {
.carousel-caption{margin-top:15px;margin-bottom: -15px;}
}
@media (min-width: 381px) and (max-width: 395px) {
.header-wrapper .hamburger{top: -120px;height: 40px;}
.header-wrapper .hamburger.lander-mobile-menu{top: -170px !important;height: 40px;}
.hamburger #accordion{top:250px !important;}
}
@media (min-width: 480px) and (max-width: 480px) {
#search_box form{/*float: right;*/width: 100%;}
/*#search_box{float: right;/*padding-top: 0px !important;}*/
.searchRight{display:none;}
}
@media (min-width: 480px) and (max-width: 599px) {
#search_box form{float: right;}
#search_box{float: right;}
.searchRight{display:none;}
.search.searchField.cq-analyzable{padding-left:15px;}
.search.searchField.cq-analyzable form{margin-top: 1em;}
.dropdown-image{top:5px;left:105px;}
.service-slot{background-size: 100px auto;}
.content-lander-page .service-slot {background-size: auto;}
.carousel-indicators li,.carousel-indicators li.active {height: 40px;width: 20px !important;}
.carousel-indicators .left, .carousel-indicators .right{width: 20px !important;}
.carousel-caption{position:relative;width: 100% !important;left: 0 !important;margin-top:15px;margin-bottom: -15px;}
}
@media (min-width: 600px) and (max-width: 767px) {
#search_box form{float: right;}
#search_box{top: -72px;margin-left: 2em;}
.search.searchField.cq-analyzable{padding-left:15px;}
/*.search.searchField.cq-analyzable form{margin-top: 4em;}*/
}
@media (min-width: 768px) and (max-width: 819px) {
#search_box form{float: right;}
#search_box{top: -72px;margin-left: 15em;}
}
@media (min-width: 820px) and (max-width: 829px) {
#search_box{top: 3em;left: 5em;}
}
@media (min-width: 768px) and (max-width: 1024px) {
.search.searchField.cq-analyzable{padding-left:15px;}
/*.search.searchField.cq-analyzable form{margin-top: 6em;}*/
        }
@media (min-width: 1024px){
.search.searchField.cq-analyzable {padding: 0 70px;}
.search.searchField.cq-analyzable form{margin-top: 2em;}
    }
@media (max-width: 599px){
    .navigation-list .navigation-item.has-dropdown{display:none;}	/*Hide the stock ticker when screen width > 600*/
}
@media (max-width: 992px){
.carousel-caption .caption-text {
    display: none;
    }
}
@media (min-width: 820px) and (max-width: 992px) {
.carousel-caption{top:20%;}
}

/*end*/


/*
========================
     Services section
========================
*/
@media (max-width: 829px) {
  .service-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .service-container .column-wrapper {
    left: 0;
  }
  .service-container .service-column {
    height: inherit;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 829px) {
  .serviceColumn,
  .color-regular_blue .serviceColumn {
    border-top: 1px solid #f2f2f2;
    border-left: none;
  }
  .serviceColumn:first-child {
    border-left: none;
    border-top: none;
  }
  .service-container .service-column {
    min-height: initial !important;
  }
  .service-container .image-media img {
    width: auto;
  }
}
/*
========================
     News section
========================
*/
@media (min-width: 830px) and (max-width: 991px) {
  .news .column-wrapper {
    margin-top: 0;
  }
}
/*
==================
   Footer
==================
*/
@media (max-width: 920px) {
  .footer a {
    font-size: 10px;
    letter-spacing: normal;
  }
}
@media (min-width: 680px) and (max-width: 800px) {
  .footer .footer-navigation {
    width: 50%;
  }
  .footer .social-links {
    width: 33.33333333%;
  }
  .footer .footer-logo {
    width: 16.66666667%;
  }
}
@media (max-width: 679px) {
  .footer .social-links {
    margin-left: 10px;
    padding-right: 0;
  }
  .footer .footer-logo {
    float: none;
    margin-top: 5px;
    position: absolute;
    right: 60px;
  }
}
@media (max-width: 420px) {
  .footer .footer-logo {
    margin-bottom: 15px;
    margin-top: 35px;
  }
}
@media (max-width: 679px) and (min-width: 475px) {
  .footer .wrapper {
    padding-left: 20%;
  }
  .footer .social-links {
    margin-left: 0;
    text-align: left;
    width: 52%;
  }
}
@media (max-width: 474px) and (min-width: 350px) {
  .footer .wrapper {
    padding-left: 12%;
  }
  .footer .social-links {
    margin-left: 0;
    text-align: left;
  }
}
@media (max-width: 599px) {
  .block {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer {
    height: inherit;
    padding: 0;
  }
  .footer .navigation-item {
    line-height: 0.7;
    padding-left: 2px;
    padding-right: 2px;
  }
  .footer .navigation-item a {
    font-size: 10px;
  }
  .footer .wrapper {
    padding-top: 15px;
  }
  .footer .social-links {
    margin-left: 10px;
    padding-right: 0;
    text-align: left;
    width: inherit;
  }
}
/*
========================
 Six cell component
========================
*/
@media (max-width: 800px) {
  .footer-logo .allegion-logo-large {
    margin-left: 0;
  }
}
@media (min-width: 1199px) and (max-width: 1259px) {
  .parbase .billboard {
    padding: 0;
  }
}
@media (min-width: 320px) and (max-width: 829px) {
  .billboard .container {
    background: none !important;
    min-height: initial !important;
  }
  .billboard .picture {
    background: no-repeat center top;
    background-size: contain;
    display: block;
    height: 320px;
  }
  .billboard.no-text .picture {
    display: none;
  }
  .billboard.no-text img {
    display: block;
    width: 100%;
  }
  .six-cell-component .cell-button {
    height: 200px;
  }
  .six-cell-component .cell-button .button-icon {
    margin-top: 17px;
  }
  .service-icons .service-slot {
    background-position: center center;
  }
  .service-icons .service-slot.square {
    height: 100px;
  }
  .service-icons .service-title {
    display: none;
  }
  .grey-landing .column-wrapper > div {
    border-bottom-color: #9d9ea0;
  }
  .if-carousel .carousel-control > div {
    font-size: 3em;
  }
  .if-carousel .carousel-control .fa-angle-left {
    left: -10px;
  }
  .if-carousel .carousel-control .fa-angle-right {
    right: -10px;
  }
  .news-list .billboard .container {
    min-height: initial !important;
  }
}
@media (min-width: 480px) and (max-width: 829px) {
  .six-cell-component .button-row {
    padding-left: 5px;
  }
  .six-cell-component .cell-button {
    float: left;
    width: 50%;
  }
  .six-cell-component .cell-button .button-icon {
    background-position: center center;
  }
  .six-cell-component.heading-blue .link-title,
  .six-cell-component.grey-light .link-title,
  .six-cell-component.blue .link-title {
    font-size: 12px;
    line-height: 12px;
  }
  .downloads {
    padding-top: 0;
  }
  .download-info h4 {
    padding-top: 0;
  }
  .content-page #products-carousel .carousel-control .fa-angle-right {
    right: -15px;
  }
  .content-page #products-carousel .carousel-control .fa-angle-left {
    left: -15px;
  }
}
@media (min-width: 830px) {
  .service-container .multipleColumnParsys {
    display: table;
  }
  .cq-wcm-edit .service-container .multipleColumnParsys {
    display: block;
  }
  .cq-wcm-edit .service-container .multipleColumnParsys .serviceColumn {
    display: block;
    float: left;
  }
  .cq-wcm-edit .service-container .multipleColumnParsys .new.section {
    clear: both;
  }
  .service-container .multipleColumnParsys .serviceColumn {
    display: table-cell;
    float: none;
    vertical-align: top;
  }
  .article.one-column .images {
    padding-left: 30px;
  }
 #search_box {
    float: right;
    padding-top: 64px;
}
  #search_box form {
    float: right;
}
}
@media (max-width: 992px) {
  .service-icons .service-icons-wrapper.centered {
    width: auto;
  }
}
@media (min-width: 992px) {
  .six-cell-component.blue .link-title,
  .six-cell-component.heading-blue .link-title,
  .six-cell-component.grey-light .link-title {
    font-size: 18px;
    line-height: 18px;
  }
  .block.carousel-container {
    width: 73.5%;
    margin-left: 26.5%;
  }
  .article {
    margin-left: 21%;
  }
  .text-image .content {
    margin-top: 10px;
  }
  .text-image .image {
    margin-top: 10px;
    max-width: 300px;
  }
}
@media (max-width: 991px) {
  .six-cell-component .cell-button {
    height: 210px;
  }
}
@media (min-width: 1200px) {
  .text-image {
    padding-left: 27px;
  }
  .text-image .image {
    height: 300px;
  }
  .billboard .caption {
    width: 316px;
    height: 316px;
    margin-top: 42px;
    margin-left: 42px;
  }
  .carousel .carousel-caption {
    width: 350px;
    height: 316px;
    left: 42px;
    top: 42px;
  }
  #homepage-carousel {
    max-width: 1200px;
  }
}
/*
========================
 Six cell component
========================
*/
/* 0 - 991px */
@media (max-width: 991px) {
  .six-cell-component .cell-button {
    height: 240px;
  }
  .six-cell-component .cell-button .button-icon {
    margin-top: 25px;
    background-size: contain;
  }
  .six-cell-component .cell-button .link-title {
    font-size: 18px;
    line-height: 18px;
  }
  .six-cell-component .cell-button.low .link-title {
    font-size: 14px;
    line-height: 32px;
    padding-left: 55px;
  }
  .six-cell-component .cell-button.low .button-link {
    background-position-x: 5%;
  }
  .body-container {
    display: none;
  }
  .six-cell-component .blue .link-title,
  .six-cell-component .heading-blue .link-title,
  .six-cell-component .grey-light .link-title {
    font-size: 14px;
  }
  .text-image .text p {
    font-size: 13px;
    line-height: 1.5em;
    margin-top: 20px;
    padding-right: 0;
  }
  .text-image .image {
    margin-top: 20px;
  }
  .text-image iframe {
    top: 25px;
  }
  .service-icons .service-icons-wrapper.offset {
    max-width: 730px;
  }
  .news-list .share {
    display: block;
    width: 130px;
  }
  .partners-page .sidebar {
    width: 31.333333%;
  }
  .partners-page .search-results .description {
    font-size: 12px;
    line-height: 18px;
  }
  .partners-page .search-results .contact {
    font-size: 12px;
  }
  .partners-page .search-results li {
    padding: 10px;
  }
}
/* 0 - 480px */
@media (max-width: 480px) {
  .col-xxs-12,
  .col-xxs-10 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-xxs-12 {
    width: 100%;
  }
  .col-xxs-10 {
    width: 83.33333333%;
  }
  .col-xxs-no-offset {
    margin-left: 0;
  }
  .col-xxs-offset-1 {
    margin-left: 8.33333333%;
  }
  .text-image .text {
    font-size: 12px;
    line-height: 1.5em;
    margin-bottom: 20px;
  }
  .text-image .image {
    margin-top: 20px;
  }
  .text-image.image-left .content {
    margin-bottom: 0;
  }
  .text-image.image-left .text {
    padding-top: 0;
  }
  .content-page #recommendations-carousel li {
    width: 2%;
  }
  .content-page #products-carousel li {
    width: 1%;
  }
  .content-page #products-carousel .carousel-control .fa-angle-left {
    left: -15px;
  }
  .content-page #products-carousel .carousel-control .fa-angle-right {
    right: -15px;
  }
}
@media (max-width: 480px) {
  .billboard .picture {
    height: 230px;
  }
  .block .carousel-inner .slide {
    height: 160px;
  }
  .article .text {
    margin-bottom: 80px;
  }
  .article-preview .text + div {
    margin-top: 30px;
  }
  .text-image {
    padding: 0;
  }
  .text-image.image-left .content.video {
    margin-top: 20px;
  }
  .text-image iframe {
    top: 0;
  }
  .text-image .press-wrapper > div {
    padding-left: 0;
    margin-left: 0;
  }
  .text-image .press-wrapper h2,
  .text-image .press-wrapper .press-text h2 {
    font-size: 24px;
  }
  .text-gallery {
    padding: 0;
  }
  .lightbox-close {
    top: 10px;
  }
  .lightbox-arrow-left {
    left: 10px;
  }
  .lightbox-close,
  .lightbox-arrow-right {
    right: 10px;
  }
  #searchClick{display:none !important;}
  #search_box{padding-top:0 !important;/*float: right; */width: 100%;}
  #search_box input{width:100% !important;} 
  
}
@media (max-width: 829px) {
  .carousel-caption {
    font-size: 14px;
    left: 10px;
    width: 50%;
  }
  .carousel-caption h2 {
    font-size: 30px;
  }
  .carousel-caption p {
    display: none;
  }
  .carousel-caption .morelink {
    display: none;
  }
  .billboard .caption {
    margin: 0;
  }
  .news .column-wrapper h1 {
    height: auto;
  }
  .service-icons .service-icons-wrapper.centered {
    width: auto;
  }
}
/* 768px - 820px (burger dissapears) */
@media (min-width: 830px) and (max-width: 819px) {
  .billboard.no-text .container {
    background-size: contain;
  }
}
@media (max-width: 991px) {
  .carousel-caption {
    font-size: 14px;
    left: 10px;
  }
  .carousel-caption h2 {
    font-size: 23px;
  }
}
@media (max-width: 1024px) {
  .billboard .caption {
    font-size: 12px;
  }
  .billboard h2 {
    font-size: 22px;
  }
  .billboard .description {
    margin-top: 0;
  }
}
@media (max-width: 819px) {
  .color-wrapper-1.landing {
    min-height: 160px;
  }
  .parbase .billboard {
    padding: 0;
  }
}
/*
  Main navigation for mobile
*/
.hamburger {
  position: relative;
  right: 10px;
  text-align: right;
  top: 9px;
}
.hamburger .panel-direct-link {
  float: right;
}
.hamburger .panel-direct-link a {
  padding: 10px;
  color: #f2f2f2;
  display: inline-block;
  float: left;
  font-size: 12px;
  margin-right: 5px;
}
.hamburger .panel-direct-link.lander, .hamburger .panel-direct-link.lander a {float:none;} /*to stack brand logos vertically in mobile view on Lander page*/
.hamburger .mobile-toggle {
  display: none;
}
.hamburger .mobile-toggle {
  background-color: white;
  background-size: 41px;
  border: 1px solid #c5c5c6;
  color: #1d252d;
  cursor: pointer;
  height: 41px;
  padding: 1px;
  padding-top: 9px;
  text-align: center;
  text-decoration: none;
  width: 91px;
}
.hamburger #accordion {
  background-color: #ff671f;
  border: 0;
  border-bottom: 5px solid #ff671f;
  display: none;
  left: 1px;
  /*margin-right: 16px;
  min-width: 210px;
  right: 0;*/
  padding: 5px 5px 0 5px;
  position: absolute;
  top: 75px;
  z-index: 100;
}
.hamburger #accordion .panel {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}
.hamburger #accordion .panel a {
  display: block;
}
.hamburger #accordion .panel a:hover,
.hamburger #accordion .panel a:focus {
  text-decoration: none;
}
.hamburger #accordion .panel .menu-item {
  background-color: #dcdcdc;
  border-bottom: solid 2px #808080;
}
.hamburger #accordion .panel .panel-heading {
  background-color: #ff671f;
  border: none;
  border-radius: 0;
  padding: 0;
}
.hamburger #accordion .panel .panel-heading:hover {
  background-color: #fe8f1c;
}
.hamburger #accordion .panel .panel-heading .panel-title {
  letter-spacing: 1px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f2f2f2;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}
.hamburger #accordion .panel .panel-heading .panel-title a {
  padding: 10px 15px;
}
.hamburger #accordion .panel .panel-heading .panel-title a:before {
  color: #f2f2f2;
  content: '\25B8';
  display: inline-block;
  float: left;
  font-size: 12px;
  margin-right: 5px;
  transform: rotate(90deg);
  transition: all .2s;
  -webkit-transition: all .2s;
  -webkit-transform: rotate(90deg);
}
.hamburger #accordion .panel .panel-heading .panel-title a.collapsed:before {
  content: " ";
}
.hamburger #accordion .panel .panel-body {
  padding: 0;
}
.hamburger #accordion .panel .panel-body .list-group {
  margin-bottom: 0;
}
.hamburger #accordion .panel .panel-body .list-group-item {
  /*background-color: #f2f2f2;*/
  border: none;
  border-radius: 0;
  padding: 0 30px 0 0;
}
.hamburger #accordion .panel .panel-body .list-group-item:hover {
 /* background-color: #b6cde3;*/
}
.hamburger #accordion .panel .panel-body .list-group-item a {
  letter-spacing: 1px;
  padding: 8px 15px;
  text-transform: uppercase;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #9d9ea0;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
}

.hamburger #accordion .panel .panel-body .list-group-item a:hover {
font-weight: bold;
}

/* Hi-Res */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .radio-group label:before,
  .radio-group label.active:before {
    background-image: url(img/sprite@2x.png);
    background-size: 500px;
  }
  #content-menu h3 {
    background-image: url(img/sprite@2x.png);
    background-size: 500px;
  }
  .share > div {
    background-image: url(img/sprite@2x.png);
  }
  .share li {
    background-image: url(img/social@2x.png);
  }
  .download-icon {
    background-image: url(img/download-icon-interflex.png);
  }
}

.green { color: #7db340; font-size: 12px; }
.red { color: #D52B1E; font-size: 12px; }

.contentSubPage { 
  max-width: 1200px; 
  margin-left: auto; 
  margin-right: auto; 
}

/* ==========================================================================
   Utility header Regions' dropdown
   ========================================================================== */


.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 150px;
  padding: 0;
  margin: 0;
  font-size: 12px;
  list-style: none;
  background-color: #d6d6d6;
  border: 1px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-top-width: 3px;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #000000 !important;
  font-weight:normal;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff !important;
  text-decoration: none;
  background-color: #85afd5;
}
.dropdown:hover .dropdown-menu {display: block;}
.liDropDown{width:100%; margin-left:0px !important; text-align:left; padding-top: 0 !important;}
.paddingclass{padding-left:20px;}
/*end*/


/*header responsive*/
@media (max-width: 829px){
.col-xs-3 #accordion {
    width: 105%;
}
.row.header-wrapper .col-xs-3 {
    float: none;
    width: 100%;
    margin-top: 30px;
}
}

@media (max-width: 768px) and (min-width: 480px){
.hamburger #accordion {
    left: -3px !important;
    }}
/*end*/

.font16{

	font-size:16px;
    font-family: tahoma, arial, helvetica, sans-serif;
  }

 .font14{

	font-size:14px;
    font-family: tahoma, arial, helvetica, sans-serif;
  }
/* search styling*/
/*#search_box form {
    float: right;
}
/*#search_box {
    float: right;
    padding-top: 64px;
}*/
#search_box {z-index:1;}
#search_box input {
    border: 0;
    background: #e5e5e5;
    width: 258px;
    height: 31px!important;
    line-height: 31px!important;
    color: #959595;
    padding-left: 20px;
    font-size: 11px;
    display: inline-block;
    vertical-align: middle;
}

#search_box .search_btn {
    background: url('http://www.allegion.com/etc/designs/allegionCorp2/img/search.png') center center no-repeat #414042;
    width: 31px;
    height: 31px!important;
    margin-left: -5px;
    text-indent: -9999px;
}

.searchRight {
   border-left: 1px solid #ddd;
    float: right;
    width: 190px;
    padding-left: 20px;
    padding-bottom: 20px;
}

div.searchRight p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}
a {
    color: #f56f02;
}
a:hover, a:focus {
    color: #f56f02;
 }

@media (min-width: 840px) and (max-width: 1152px) {
.search.searchField.cq-analyzable {
 padding-top: 40px;
}}

/*end*/

/* =============================================================================
Beauty and Brain Component
========================================================================== */
.content-lander-page .column-content {
    display: none;
}
.hide-arrow:before,
.hide-arrow:before { display: none !important; }
.img-extended { text-align: center; padding-right: 0; }
.text-ext { padding: 35px; position: relative; }
.v-align {
    display: table-cell;
    vertical-align: middle;
}
.arrow-lft:before { position: absolute; content: ""; width: 0; height: 0; border-style: solid; border-width: 22px 22px 22px 0; border-color: transparent #e6e6e6 transparent transparent; top: 50%; left: -20px; margin-top: -20px; z-index: 1; }
.arrow-rht:before { position: absolute; content: ""; width: 0; height: 0; border-style: solid; border-width: 22px 0 22px 22px; border-color: transparent transparent transparent #e6e6e6; top: 50%; right: -20px; margin-top: -20px; z-index: 1; }
.white-color-rht:before { border-color: transparent transparent transparent #fff !important; }
.white-color-lft:before { border-color: transparent #fff transparent transparent !important; }
.grey-color-rht:before { border-color: transparent transparent transparent #e6e6e6 !important; }
.grey-color-lft:before { border-color: transparent #e6e6e6 transparent transparent !important; }
/*.img-extended:after { content: ""; height: 100%; vertical-align: middle; }*/
.items-container .section-title { font: 24px "Stag Web"; line-height: 24px; margin: 0 0 10px 0; }
.items-container .section-title span { display: block; }
.content-lander-page.less-content { margin-bottom: 12px; font-size: 20px; margin-top: 0; font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; display: inline-block; }
.content-lander-page.more-content { margin-bottom: 12px; font-size: 14px; margin-top: 0; font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; display: inline-block; }
.items-container .item img { width: 100%; }
.items-container .text-ext p:last-child a span{ letter-spacing: 0.5px; vertical-align: middle; font-size: 11px; text-transform: uppercase; max-height: 16px; overflow: hidden; display: inline-block; }
.items-container h4 { line-height: 24px; }
.items-container h1, .items-container h2, .items-container h3, .items-container h4, .items-container h5, .items-container h6 { margin-bottom: 8px; }
.clr-white-arrow, .clr-black-arrow, .clr-grey-arrow, .clr-grey-arrow-rht { -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; display: inline-block; position: relative; -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); -webkit-transform: translateZ(0); transform: translateZ(0); -moz-transition-duration: 0.1s; -o-transition-duration: 0.1s; -webkit-transition-duration: 0.1s; transition-duration: 0.1s; }
.clr-grey-arrow:after { background: url(img/sprite-img.png) 10px -24px no-repeat; }
.clr-white-arrow:active:after, .clr-black-arrow:active:after, .clr-grey-arrow:active:after { background-image: url(../images/active-arrow.png); }
.items-container .offer-info {
    margin-bottom: 12px;
    font-size: 12px;
    margin-top: 0;
    font-family: 'Avenir-Book';
    display: inline-block;
}
.offer-info {
    width: 100%;
    font: 14px 'Avenir-Book';
    margin: 0 0 20px;
}
.section-title {
    font: 17px;
    margin-top: 20px;
    font-weight: normal;
    width: 100%;
    word-wrap: break-word;
}
.overflow {
    overflow: hidden;
}
.brdr-btm-grey {
    border-bottom: 1px solid #e5e5e5!important;
}
.content-lander-page.modalButton {
    cursor: pointer;
}
.bg-light-grey { background: #e6e6e6 !important; }
.bg-white { background: #fff; }
.text-left-img{left: 20px!important; right: auto!important;}
.text-right-img{right: 20px!important; left: auto!important;}
.body-wrapper .text-callout-large {
    padding: 6% 11% 5% 13%;
}
.display-table {
    display: table;
}
.content-lander-page.video-icon {
    background: url(img/video-blue-icon.png) 0 0 no-repeat;
    display: inline-block;
    height: 22px;
    width: 22px;
    max-height: none!important;
    vertical-align: middle;
    margin-right: 5px;
}
.img-callout {
    padding: 30px 36px;
}
.img-extended {
    text-align: center;
    padding-right: 0;
}
.text-callout {
    padding: 0;
}
/*.content-lander-page .content-wrap .container {
    max-width: 960px;
}*/
.content-lander-page.imageExt img {
    max-width: 100% !important;
    height: auto!important;
    width: auto;
}
.container-large {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.no-gutter>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
.no-gutter-all [class*="col-"] {
    padding-right: 0px;
    padding-left: 0px;
}
.option-container {
    margin: 45px 0;
    padding-bottom: 45px;
}
.option-container .half-gutter {
    position: relative;
    right: -8px;
}
.half-gutter>[class*='col-'] {
    padding-right: 8px;
    padding-left: 8px;
}
.content-lander-page .content-wrap {
    background: #fff;
   /* padding: 45px 0;*/
}
.img-col {
    height: 195px;
    text-align: center;
    padding: 10px;
    position: relative;
}
.img-caption {
    text-align: center;
    padding: 15px 0 0;
    width: auto;
    font-size: 11px;
}
.img-col img {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.img-col > a{display: block; height: 100%;}
/*.content-lander-page.col-md-6,*/
.content-lander-page.col-sm-4,
.content-lander-page.col-md-8,
.content-lander-page.col-md-4{
position: relative;
min-height: 1px;
padding-left: 15px;
padding-right: 15px;
}
    div#video iframe {
    width: 100%;
    height: 315px;
}
.content-lander-page .multiple-column-box .column:last-child {
    float: none;
}
.content-lander-page .multiple-column-box .full-width {
margin-left: 11px;
width:100%;
}
.textWithBackgroundColor-box .multiple-column-box-heading a {
    cursor: pointer;
}
.textWithBackgroundColor-box .multiple-column-box-heading{
    margin-left: 15px;
}
@media (min-width: 480px){
.content-lander-page .col-sm-4 {width: 33.33333333%; float:left;}
.content-lander-page .col-sm-6 {width: 50%; float:left;}
}
@media (max-width: 767px){
.option-container {padding-bottom: 25px;}
.option-container .half-gutter {position: static; margin-left: -8px; margin-right: -8px; margin-top: 30px;}
.modal.zoom-modal.fade.in { /* top: 69px; */ padding-top: 69px; }
    .modal.myModal_email.fade.in{ padding-top: 69px;}
    .modal.fade.in { top: 0; }
    .content-lander-page.container {width: auto;}
}
@media(max-width: 479px) {
    .pull-left-xs { float: left !important; }
    .pull-right-xs { float: right !important; }
    .arrow-rht:before, .arrow-lft:before, .arrow-lft-sm:before, .arrow-rht-sm:before, .arrow-rht-md-lg:before, .arrow-lft-md-lg:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 22px 22px 22px;
    border-color: transparent transparent #e6e6e6 transparent;
    top: 0;
    right: inherit;
    left: 50%;
    margin-left: -20px;
    z-index: 1;
    margin-top: -20px;
}
.m-vert-space {width: 100%;}
}

@media (min-width: 480px) and (max-width: 767px) {
    .pull-left-sm { float: left !important; }
    .pull-right-sm { float: right !important; }

    .arrow-lft-sm:before { position: absolute; content: ""; width: 0; height: 0; border-style: solid; border-width: 22px 22px 22px 0; border-color: transparent #e6e6e6 transparent transparent; top: 50%; left: -20px; margin-top: -20px; z-index: 1; }
    .arrow-rht-sm:before { position: absolute; content: ""; width: 0; height: 0; border-style: solid; border-width: 22px 0 22px 22px; border-color: transparent transparent transparent #e6e6e6; top: 50%; right: -20px; margin-top: -20px; z-index: 1; }

    .arrow-lft-white-sm:before { position: absolute; content: ""; width: 0; height: 0; border-style: solid; border-width: 22px 22px 22px 0; border-color: transparent #fff transparent transparent; top: 50%; left: -20px; margin-top: -20px; z-index: 1; }
    .arrow-rht-white-sm:before { position: absolute; content: ""; width: 0; height: 0; border-style: solid; border-width: 22px 0 22px 22px; border-color: transparent transparent transparent #fff; top: 50%; right: -20px; margin-top: -20px; z-index: 1; }

    .text-callout .text-ext {padding-top: 0;}
     .text-callout .text-ext {padding-bottom: 45px;}
     .img-callout, .text-callout {padding-left: 70px;padding-right: 70px;}
      .img-callout {padding-top: 30px;padding-bottom: 0;}
}
@media (min-width: 768px) and (max-width: 979px) {
.content-lander-page .content-wrap .container {width: 724px;}
}

@media (min-width: 768px) and (max-width: 1023px) {
    .pull-left-md { float: left !important; }
    .pull-right-md { float: right !important; }
    .img-col {height: 135px;}

    .content-lander-pageh2{
    font-size: 18px;
    max-height: auto;

}
    .content-lander-page .content-wrap .container {
    padding-right: 0;
    padding-left: 0;
    max-width: 100%;
    width: 100%;       
}
    .content-lander-pagep{
    font-size: 11px;
}
    .content-lander-pageh3{
    font-size: 18px;
        }
.content-lander-page.less-content{font-size: 14px;}
.content-lander-page.more-content{font-size: 11px;margin-bottom: 6px;}

}
@media (min-width: 760px) and (max-width: 1023px) {
.text-ext{padding-left: 20px;padding-right: 20px;padding-top: 0;padding-bottom: 0;}
}
@media (max-width: 760px) {
.text-ext {padding: 20px;}
}
@media(min-width: 768px) {
    .pull-left-md-lg { float: left !important; }
    .pull-right-md-lg { float: right !important; }

    .arrow-lft-md-lg:before { position: absolute; content: ""; width: 0; height: 0; border-style: solid; border-width: 22px 22px 22px 0; border-color: transparent #e6e6e6 transparent transparent; top: 50%; left: -20px; margin-top: -20px; z-index: 1; }
    .arrow-rht-md-lg:before { position: absolute; content: ""; width: 0; height: 0; border-style: solid; border-width: 22px 0 22px 22px; border-color: transparent transparent transparent #e6e6e6; top: 50%; right: -20px; margin-top: -20px; z-index: 1; }

    .arrow-lft-white-md-lg:before { position: absolute; content: ""; width: 0; height: 0; border-style: solid; border-width: 22px 22px 22px 0; border-color: transparent #fff transparent transparent; top: 50%; left: -20px; margin-top: -20px; z-index: 1; }
    .arrow-rht-white-md-lg:before { position: absolute; content: ""; width: 0; height: 0; border-style: solid; border-width: 22px 0 22px 22px; border-color: transparent transparent transparent #fff; top: 50%; right: -20px; margin-top: -20px; z-index: 1; }

    .filter .btn-default { font-family: 'Avenir-Book'; font-size: 12px; font-weight: normal; background: none; border: #e5e5e5 solid 1px; line-height: 12px; margin-top: 4px; padding: 4px 9px; float: right; }
    .filter-div .btn-default:hover { border: #0081c6 solid 1px; }
    .content-lander-page .col-md-4 {width: 33.33333333%; float:left;}
    .content-lander-page .col-md-8 {width: 66.66666667%; float:left;}
    .content-lander-page .col-md-6 { width: 50%; float:left}
}
@media(min-width: 1024px) {
    .pull-left-lg { float: left !important; }
    .pull-right-lg { float: right !important; }
    .modal-header { padding: 20px 0 24px 46px; }
    .content-lander-page .content-wrap .container {width: 1200px;}
}

@media (min-width: 1024px) and (max-width: 1200px){
.body-wrapper .text-callout-large{padding: 5%;}
.body-wrapper .text-callout-large .offer-info{font-size: 14px;}
.content-lander-page .content-wrap .container {width: 100%;}

.landing-form {
    padding-left: 20px;
    padding-right: 20px;
}
}
@media (min-width: 759px) and (max-width: 860px){
/*.items-container .item img {
    width: 110%;
}*/
    .text-ext {
    padding: 10px;
}
}
@media (max-width: 1023px){
/*.text-ext {padding: 20px;}*/
}
@media (min-width: 1200px){
.content-lander-page .col-lg-4 {
    width: 19.333333%;
}
.content-lander-page .content-wrap .container {width: 1200px;}
.content-lander-page .serviceIcon .row {
    margin-right: -36px;
}
}
.content-lander-page .service-slot.square .service-title {
    bottom: 50%;
 }
.content-lander-page .service-slot .service-title { font-weight:bold; }

/* Countdown Timer Styling*/
.countdown-text {
    padding-left: 16px;
    font-size: 15px;
}
#countdown_dashboard {
    float: right;
    margin-top: 17px;
    font-size: 18px;
    margin-right: 12px;
}
.dash.weeks_dash {
    width: 30%;
    float: left;
}
.dash.days_dash {
    width: 30%;
    float: left;
}
.dash.hours_dash {
    width: 30%;
    float: left;
}
.dash.minutes_dash {
    width: 6%;
    float: left;
}
.digit-container {
    height: 25px;
    width: 40px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 4px;
    z-index: 0;
    background-image: none;
    background-attachment: initial;
    background-color: rgb(255, 103, 31);
    background-origin: initial;
    background-clip: padding-box;
    color: white;
}
#countdown_dashboard .dash_title {
    color: rgb(168, 168, 168);
    font-size: 12px;
}
.bottom{margin-left:5px;}

.lander-contactUsForm #contact-error-msg {display: none;}
.lander-contactUsForm #contact-thank-you {display: none;}
.lander-contactUsForm .error {color: red;}
.lander-contactUsForm{padding-top:20px;}
 @media (min-width:1100px){
.content-lander-page .multiple-column-box {
    padding-bottom: 0px;
    padding-top: 0px;
}
.content-lander-page .multiple-column-box .column-button {padding:0}
.content-lander-page .service-slot.square{margin-bottom:0px}
.content-lander-page .multiple-column-box .column{margin:0 0 0 11px}
.content-lander-page .column .btn{padding:0;border:0}

}

.content-lander-page .multiple-column-box .column-button {padding:0}
.content-lander-page .multiple-column-box{padding-bottom: 0px;padding-top: 0px;}
.content-lander-page .businessUnitColumn .btn {border:0;}
.content.headingSubHead {margin-left: 10px;}

@media (max-width: 829px) and (min-width: 600px){
.content-lander-page .multiple-column-box .column {
    margin: 0;
}
    }

@media (max-width: 830px){
.content-lander-page .container {
    padding-left: 0;
    padding-right: 0;
        }}
@media (max-width: 1200px) and (min-width: 830px){
.content-lander-page .multiple-column-box {max-width: 1200px;padding-right:50px;}
}
@media (min-width: 1100px) and (max-width: 1199px){
.content-lander-page .service-slot.square{margin-bottom:1px}
}

@media (min-width: 820px) and  (max-width: 925px) {
.header-wrapper .lander-mobile-menu .mobile-toggle {display: inline-block;}
.lander-mobile-menu #accordion {width: 100%;/*top: 40px;*/}
.header-wrapper .lander-mobile-menu #accordion {display: block;overflow: auto;}
.row.header-wrapper .col-xs-3 {float: none;width: 100%;margin-top: 30px;}
.lander-nav{display:none;}
}

@media (min-width: 768px) and  (max-width: 925px) {
.col-xs-3.col-sm-6.hamburger.lander-mobile-menu {min-height: 120px;}
.lander-mobile-menu #accordion{top:100px;}
}
