/*Custom Styles*/
#header-section img{
    width:100%;
    overflow: hidden;
}
#header-section div{
    padding:0;
}
.orange{
    color:white;
    background-color: #f36f21;
}
.gray{
    color:white;
    background-color: #d7d7d7;
}
.lt-gray{
    color:black;
    background: #eee;
}
#body-section{
    padding: 3%;
}
#body-section div.orange{
    padding:3% 4%;
}
#dropdownMenu1{
    width:100%;
}
ul.dropdown-menu{
    width:100%;
}
.icons img{
    width:30px;
    margin-left:6px;
}
.thumbnail{
    padding:20px 8px 0;
    height:350px;
    position: relative;
}
div.thumbnail>div.caption>div.icons{
    position:absolute;
    bottom: 10px;;
    left:10px;

}
.searchbox{

    background:#f36f21;
}
.list-group-item{
    border-radius: 0 !important;
    margin-bottom: 5px;
    margin-top: 5px;
}
.list-group-item:first-child{
    margin-top:10px;
}
.disabled{
    color:#eee;
}
.selection-icons{
    padding:10px 30px;
    color:white;
    margin-bottom:30px;
    text-align:center;

}
.selection-icons img{
    margin:10px;
}
.sort-item{
    float:left;
    padding:3px;
}
.float-container{
    margin:0 auto;
    width:90%;
    clear:both;
}
.sort-item a{
    color:white;
    text-decoration: none;
}
.selected{
    background-color: rgba(255,255,255,0.4);
}
.white-text{
    color:white;
}
.product-icon{
    width:60px;
    margin: 0 auto;
    text-align: center;
}
.product-card{
    border:solid 1px #eee;
    padding:20px;
}
.menu-item {
    background-color: #ddd;
    color: white;
    text-align: center;
    height: 36px;
    line-height: 34px;
    border:solid 1px;
    text-transform: uppercase;
}
.menu-active{
    background-color: #f36f21;
}
.menu-item a{
    color:white;
}
.list-group {
    padding: 20px;
    margin: 0;
}
.select-me{
    border:solid 1px cyan;
}
li.top-nav-li {
    /* float: left; */
    width: 120px;
    text-align: center;
    list-style: none;
    border: solid 1px cyan;
    background:white;
    /* clear: both; */
}

div#top-nav {position: fixed;top: 0;right: 0;z-index:100;}
.mobile-container {
    width: 360px;
    margin: 50px auto;
    border-radius: 10px;
    height: 590px;
    padding:0;
    border: solid 20px darkgray;
    border-bottom-width: 60px;
    border-top-width:30px;

}