<!-- color wrapper -->
<div class="color-wrapper-1 landing heading-blue">
    <div class="fixed-area affix">
        <header>


            <nav class="header-navigation">
                <ul class="navigation-list">

                    <li class="navigation-item"><a href="/corp/en/header/career-nav.html">Careers</a></li>

                    <li class="navigation-item"><a href="/corp/en/header/media.html">Media</a></li>

                    <li class="navigation-item"><a href="/corp/en/header/locations.html">Locations</a></li>

                    <li class="navigation-item"><a href="/corp/en/header/contact-us.html">Contact Us</a></li>


                    <!--adding worldwide sites-->
                    <li class="dropdown navigation-item" >
                        <a href="#" role="button" id="drop1" class='paddingclass'>
                            <img src="/etc/designs/allegionCorp2/img/allegion-icon-globe-black.png" style="position:absolute;top:0; left:0">
                            Worldwide Sites
                            <img style="position:absolute;top:10px; left:130px" src='/etc/designs/allegionCorp2/img/nav-down-arrow.gif'/>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">

                            <li class='liDropDown'><a href="/corp/en/worldwide/USA.html">USA</a></li>

                            <li class='liDropDown'><a href="/corp/en/worldwide/EMEIA.html">EMEIA</a></li>

                            <li class='liDropDown'><a href="/corp/en/worldwide/Australia.html">Australia</a></li>

                            <li class='liDropDown'><a href="/corp/en/worldwide/new_zealand.html">New Zealand</a></li>

                            <li class='liDropDown'><a href="/corp/en/worldwide/china.html">China</a></li>

                        </ul>
                    </li>
                    <!--end-->

                    <li class="navigation-item has-dropdown">
                        NYSE
                    </li>
                    <li class="navigation-item has-dropdown">
                        ALLE
                    </li>
                    <li class="navigation-item has-dropdown">
                        <span id="stockprice"></span>
                    </li>

                    <li class="navigation-item has-dropdown">

                        <span style="font-size: 16px;" id="stockDirection" class="green"></span>&nbsp;&nbsp;<span id="stockChange"></span>
                    </li>


                    <script type="text/javascript">

                        $.ajax({
                            type: 'POST',
                            url: '/bin/allegionCorp2/readStockDetails',
                            success: function (msg) {
                                var xmlText = msg;
                                //alert('xmlText = '+xmlText);
                                var xmlDOM = $.parseXML(xmlText);
                                var price = $(xmlDOM).find('CurrentPrice').text();
                                var change = $(xmlDOM).find('Change').text();
                                $('#stockprice').text(price);
                                $('#stockChange').text(Math.abs(change));
                                if (change > 0) {
                                    $('#stockDirection').html('&#x21e7;');
                                    $('#stockDirection').addClass("green");
                                    $('#stockChange').addClass("green");
                                } else {
                                    $('#stockDirection').html('&#x21e9;');
                                    $('#stockDirection').addClass("red");
                                    $('#stockChange').addClass("red");
                                }

                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                //alert('inside error');
                            }
                        });
                    </script>

        </header>
        <div class="row header-wrapper">
            <!-- Logo -->
            <div class="col-xs-9 col-sm-6 logo">
                <a href="/corp/en/index.html"><img title="allegion-logo" alt="allegion-logo" class="cq-dd-image" src="/content/allegion-corp/corp/_jcr_content/logos/mainLogo.img.png/1442866918283.png"></a>
            </div>

            <div id="search_box" class="col-xs-9 col-sm-6 search">
                <form name="searchform" action="/corp/en/search.html" method="get">
                    <input name="q" id="searchInput" onfocus="this.value=''"
                           type="text" size="20"
                           value="Search Allegion.com"
                           title="Search Allegion.com" /> <input
                        title="Search" type="submit" value="Search" class="search_btn"
                        id="searchClick" disabled="true" />
                </form>
                <script>
                    $('#searchInput').keyup(function() {
                        var empty = false;

                        if ($.trim($(this).val()) == '') {
                            empty = true;
                        }
                        if (empty) {
                            $('#searchClick').attr('disabled', true);
                        } else {
                            $('#searchClick').attr('disabled', false);
                        }
                    });
                </script>
            </div>

            <!-- Main Navigation - mobile -->
            <div class="col-xs-3 col-sm-6 hamburger">
                <a class="mobile-toggle" data-toggle="collapse" href="#accordion" data-parent="#accordion" aria-controls="#accordion" aria-expanded="true">Menu</a>
                <div class="collapse" id="accordion" aria-multiselectable="true">

                    <div class="panel">
                        <div class="panel-heading" role="tab" id="heading1">
                            <div class="panel-direct-link">
                                <a href="/corp/en/about.html">&#9656;</a>
                            </div>
                            <div class="panel-title">


                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="#collapse1">
                                    About Allegion
                                </a>



                            </div>
                        </div>


                        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                            <div class="panel-body">
                                <ul class="list-group">

                                    <li class="list-group-item"><a href="/corp/en/about/our-story.html">Our Story</a></li>

                                    <li class="list-group-item"><a href="/corp/en/about/corporate-governance.html">Corporate Governance</a></li>

                                    <li class="list-group-item"><a href="/corp/en/about/leadership.html">Leadership</a></li>

                                    <li class="list-group-item"><a href="/corp/en/about/expertise.html">Expertise</a></li>

                                </ul>
                            </div>
                        </div>


                    </div>

                    <div class="panel">
                        <div class="panel-heading" role="tab" id="heading2">
                            <div class="panel-direct-link">
                                <a href="/corp/en/products.html">&#9656;</a>
                            </div>
                            <div class="panel-title">


                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="#collapse2">
                                    Products
                                </a>



                            </div>
                        </div>


                        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body">
                                <ul class="list-group">

                                    <li class="list-group-item"><a href="/corp/en/products/business.html">For Business</a></li>

                                    <li class="list-group-item"><a href="/corp/en/products/home.html">For Home</a></li>

                                </ul>
                            </div>
                        </div>


                    </div>

                    <div class="panel">
                        <div class="panel-heading" role="tab" id="heading3">
                            <div class="panel-direct-link">
                                <a href="/corp/en/brands.html">&#9656;</a>
                            </div>
                            <div class="panel-title">



                                <a href="/corp/en/brands.html" class="collapsed">
                                    Brands
                                </a>


                            </div>
                        </div>



                    </div>

                    <div class="panel">
                        <div class="panel-heading" role="tab" id="heading4">
                            <div class="panel-direct-link">
                                <a href="/corp/en/careers.html">&#9656;</a>
                            </div>
                            <div class="panel-title">


                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="#collapse4">
                                    Careers
                                </a>



                            </div>
                        </div>


                        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                            <div class="panel-body">
                                <ul class="list-group">

                                    <li class="list-group-item"><a href="/corp/en/careers/culture.html">Our Culture</a></li>

                                    <li class="list-group-item"><a href="/corp/en/careers/people.html">Our People</a></li>

                                    <li class="list-group-item"><a href="/corp/en/careers/university.html">During and After University</a></li>

                                    <li class="list-group-item"><a href="/corp/en/careers/equal-opportunity.html">Equal Opportunity Employer</a></li>

                                </ul>
                            </div>
                        </div>


                    </div>

                    <div class="panel">



























<div class="content parsys"><div class="parbase oneColumnText section">












    <div class="content-container no-margin row">
        <div  class="text-image text-only  col-xxs-10 col-xxs-offset-1 col-xs-12 col-sm-10 col-sm-offset-1
	col-md-12 col-md-offset-0 row">


            <h2>Our pioneering brands</h2>





            <div class="col-xxs-12 col-xs-12">
                <div class="content text">
                    <p style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12px;"><span class="font14">Our pioneering brands are redefining security, inventing new technology that keeps you safe wherever you are. Focusing on security around the door and adjacent areas, we produce everything from mechanical locks to advanced biometric scanning devices, keeping every solution simple and integrated.</span></p>

                </div>
            </div>



        </div>
    </div>

    <script>

        $( document ).ready(function() {

            console.log( "ready!" );

            $("div.content.text a").click(function(){

                var datatracking= $("div.content.text a").attr("data-track");

                console.log("data tracking attr:"+datatracking);

                var linktitle = $(this).text();

                console.log("link title**************"+linktitle);

                var clickurl = $(this).attr("href");

                console.log("click url****"+clickurl);

                if(datatracking == 'true')
                {

                    console.log("recoring site catevent&&&&&&&&&&&&&&&&&&&");
                    record(['clickthroughLinkClick'], {clickthroughLinkLabel:linktitle }  );
                }


            });

        });

    </script></div>
    <div class="parbase multipleColumns section">
















        <div class="row  service-icons wide " style="background: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/image.img.jpg/1444338421461.jpg') no-repeat left center; background-size: cover;">
            <div class="service-icons-wrapper  ">
                <div class="parsys multipleColumnParsys"><div class="parbase serviceIcon section">












                    <div class="col-xs-4 col-md-2 column-wrapper">
                        <div class="row service">


                            <a href="/corp/en/brands/axa.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon/image.img.png/1444338408999.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                            </a>



                        </div>
                    </div>
                </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/bricard.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_1/image.img.png/1444338413468.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/brio.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_2/image.img.png/1444338408512.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/briton.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_3/image.img.png/1444338411754.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/cisa.html" class="service-slot square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_4/image.img.png/1444338408134.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/dexter.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_6/image.img.png/1444338412541.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/falcon.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_10/image.img.png/1444338409776.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/fsh.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_7/image.img.png/1444338410624.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/fusion-hardware-group.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_8/image.img.png/1444338413174.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/glynn-johnson.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_9/image.img.png/1444338417605.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/inafer.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_11/image.img.png/1444338416315.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/interflex.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_12/image.img.png/1444338495254.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/ito-kilit.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_13/image.img.png/1444338418132.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/ives.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_14/image.img.png/1444338419585.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/kryptonite.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_15/image.img.png/1444338419125.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/lcn.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_16/image.img.png/1444338416792.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/milre.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_18/image.img.png/1444338417843.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/normbau.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_19/image.img.png/1444338415328.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/schlage.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_21/image.img.png/1444338415049.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/simonsvoss.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_22/image.img.png/1444338414872.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/steelcraft.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_24/image.img.png/1444338418849.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/trelock.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_0/image.img.png/1467325331808.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/von-duprin.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_25/image.img.png/1444338495631.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>
                    <div class="parbase serviceIcon section">












                        <div class="col-xs-4 col-md-2 column-wrapper">
                            <div class="row service">


                                <a href="/corp/en/brands/zero.html" class="service-slot vertical square grey" style="background-image: url('/content/allegion-corp/corp/en/index/jcr:content/content/multiplecolumns_0/multipleColumnParsys/serviceicon_27/image.img.png/1444338415567.png'); background-position: center;  ">
                    <span class="service-title">
                        
                            
                            
                        
                    </span>
                                </a>



                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>



<div class="header-bottom">












    <nav class="header-navigation">
        <ul class="navigation-list">

            <li class="navigation-item"><a href="/corp/en/header/career-nav.html">Careers</a></li>

            <li class="navigation-item"><a href="/corp/en/header/media.html">Media</a></li>

            <li class="navigation-item"><a href="/corp/en/header/locations.html">Locations</a></li>

            <li class="navigation-item"><a href="/corp/en/header/contact-us.html">Contact Us</a></li>


            <!--adding worldwide sites-->
            <li class="dropdown navigation-item" >
                <a href="#" role="button" id="drop1" class='paddingclass'>
                    <img src="/etc/designs/allegionCorp2/img/allegion-icon-globe-black.png" style="position:absolute;top:0; left:0">
                    Worldwide Sites
                    <img style="position:absolute;top:10px; left:130px" src='/etc/designs/allegionCorp2/img/nav-down-arrow.gif'/>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1" role="menu">

                    <li class='liDropDown'><a href="/corp/en/worldwide/USA.html">USA</a></li>

                    <li class='liDropDown'><a href="/corp/en/worldwide/EMEIA.html">EMEIA</a></li>

                    <li class='liDropDown'><a href="/corp/en/worldwide/Australia.html">Australia</a></li>

                    <li class='liDropDown'><a href="/corp/en/worldwide/new_zealand.html">New Zealand</a></li>

                    <li class='liDropDown'><a href="/corp/en/worldwide/china.html">China</a></li>

                </ul>
            </li>
            <!--end-->

            <li class="navigation-item has-dropdown">
                NYSE
            </li>
            <li class="navigation-item has-dropdown">
                ALLE
            </li>
            <li class="navigation-item has-dropdown">
                <span id="stockprice"></span>
            </li>

            <li class="navigation-item has-dropdown">

                <span style="font-size: 16px;" id="stockDirection" class="green"></span>&nbsp;&nbsp;<span id="stockChange"></span>
            </li>


            <script type="text/javascript">

                $.ajax({
                    type: 'POST',
                    url: '/bin/allegionCorp2/readStockDetails',
                    success: function (msg) {
                        var xmlText = msg;
                        //alert('xmlText = '+xmlText);
                        var xmlDOM = $.parseXML(xmlText);
                        var price = $(xmlDOM).find('CurrentPrice').text();
                        var change = $(xmlDOM).find('Change').text();
                        $('#stockprice').text(price);
                        $('#stockChange').text(Math.abs(change));
                        if (change > 0) {
                            $('#stockDirection').html('&#x21e7;');
                            $('#stockDirection').addClass("green");
                            $('#stockChange').addClass("green");
                        } else {
                            $('#stockDirection').html('&#x21e9;');
                            $('#stockDirection').addClass("red");
                            $('#stockChange').addClass("red");
                        }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        //alert('inside error');
                    }
                });
            </script>

</div>












<div class="footer">
    <div class="row-fluid footer-wrapper">
        <div class="col-md-7 col-sm-6 col-xs-12 footer-navigation">
            <ul class="row-fluid navigation">

                <li class="navigation-item"><a href="/corp/en/footer/privacy-statement.html">Privacy Statement</a></li>

                <li class="navigation-item"><a href="/corp/en/footer/terms-of-use.html">Terms</a></li>

                <li class="navigation-item"><a href="/corp/en/footer/sitemap.html">Site Map</a></li>

                <p class='copyright'>&#169; Allegion plc, 2015 | Block D, Iveagh Court, Harcourt Road, Dublin 2, Co. Dublin, Ireland
                    <br>REGISTERED IN IRELAND WITH LIMITED LIABILITY REGISTERED NUMBER 527370
                    <br>Allegion is an equal opportunity and affirmative action employer
                </p>
            </ul>

        </div>
        <div class="col-md-5 col-sm-5 col-xs-6 social-links pull-right">
            <div class="row-fluid text-center social">


                <div class="col-md-1 col-sm-2 navigation-item pull-right">
                    <a class="YouTube" href="https://www.youtube.com/channel/UCufDIevUmPZVZVByiKPF9Jw" target="_blank"><img title="IF_Icon_Web_YouTube_32x32px_grau" alt="IF_Icon_Web_YouTube_32x32px_grau" class="cq-dd-image" src="/content/allegion-corp/corp/_jcr_content/socialCommunities/socialCommunitiesParsys/socialcommunity/image.img.png/1447167384854.png"></a>
                </div>

                <div class="col-md-1 col-sm-2 navigation-item pull-right">
                    <a class="LinkedIn" href="https://www.linkedin.com/company/3532968" target="_blank"><img title="IF_Icon_Web_LinkedIn_32x32px_grau" alt="IF_Icon_Web_LinkedIn_32x32px_grau" class="cq-dd-image" src="/content/allegion-corp/corp/_jcr_content/socialCommunities/socialCommunitiesParsys/socialcommunity_0/image.img.png/1447167411762.png"></a>
                </div>

                <div class="col-md-1 col-sm-2 navigation-item pull-right">
                    <a class="Facebook" href="https://www.facebook.com/AllegionPlc/" target="_blank"><img title="IF_Icon_Web_Facebook_32x32px_grau" alt="IF_Icon_Web_Facebook_32x32px_grau" class="cq-dd-image" src="/content/allegion-corp/corp/_jcr_content/socialCommunities/socialCommunitiesParsys/socialcommunity_1/image.img.png/1447167423750.png"></a>
                </div>

                <div class="col-md-1 col-sm-2 navigation-item pull-right">
                    <a class="Google+" href="https://plus.google.com/b/109046678618564310723/+Allegion/posts" target="_blank"><img title="IF_Icon_Web_Google_32x32px_grau" alt="IF_Icon_Web_Google_32x32px_grau" class="cq-dd-image" src="/content/allegion-corp/corp/_jcr_content/socialCommunities/socialCommunitiesParsys/socialcommunity_2/image.img.png/1447167464381.png"></a>
                </div>

                <div class="col-md-1 col-sm-2 navigation-item pull-right">
                    <a class="Twitter" href="https://twitter.com/AllegionPlc" target="_blank"><img title="IF_Icon_Web_Twitter_32x32px_grau" alt="IF_Icon_Web_Twitter_32x32px_grau" class="cq-dd-image" src="/content/allegion-corp/corp/_jcr_content/socialCommunities/socialCommunitiesParsys/socialcommunity_3/image.img.png/1447167470513.png"></a>
                </div>

                <div class="col-md-5 col-sm-6 navigation-item pull-right connectText">

                    <span style="">Connect with Allegion &nbsp;&nbsp;</span>
                </div>
            </div>
        </div>
        <!--<div class="col-sm-3 col-xs-2 text-center footer-logo">
<div class="navigation-item">
<a class="allegion-logo-large" href="#"><img title="allegion_logo" alt="allegion_logo" class="cq-dd-image" src="/content/allegion-corp/corp/jcr%3acontent/logos/allegionFooterLogo.img.png/1449604684206.png" ></a>
<a href="#" id="allegion-logo-large" title="Logo footer"></a>
</div>
</div>-->
    </div>
</div>

<style>
    .connectText {
        padding-top: 7px !important;
    }
</style>


<script data-main="/etc/clientlibs/allegionCorp2/main" src="/etc/clientlibs/allegionCorp2/requirejs.js"></script>


<div id="siteCatChannel1" propName1="Home"></div>


<div class="servicecomponents cloudservices"><div class="sitecatalyst cloudservice"><script type="text/javascript" src="/etc/clientlibs/foundation/sitecatalyst/sitecatalyst.min.js"></script>
    <script type="text/javascript" src="/etc/clientlibs/foundation/sitecatalyst/util.min.js"></script>
    <script type="text/javascript" src="/content/allegion-corp/corp/en/_jcr_content/analytics.sitecatalyst.js"></script>
    <script type="text/javascript" src="/etc/clientlibs/mac/mac-sc.min.js"></script>
    <script type="text/javascript" src="/etc/clientlibs/foundation/sitecatalyst/plugins.min.js"></script>
    <script type="text/javascript">
        <!--
        CQ_Analytics.Sitecatalyst.frameworkComponents = ['foundation/components/page','allegionCorp2/components/emailSignUpStatus','cq/searchpromote/components/search','allegionCorp2/components/oneColumnText'];
        /**
         * Sets SiteCatalyst variables accordingly to mapped components. If <code>options</code>
         * object is provided only variables matching the options.componentPath are set.
         *
         * @param {Object} options Parameter object from CQ_Analytics.record() call. Optional.
         */
        CQ_Analytics.Sitecatalyst.updateEvars = function(options) {
            this.frameworkMappings = [];
            this.frameworkMappings.push({scVar:"pageName",cqVar:"pagedata.title",resourceType:"foundation/components/page"});
            this.frameworkMappings.push({scVar:"channel",cqVar:"pagedata.sitesection",resourceType:"foundation/components/page"});
            this.frameworkMappings.push({scVar:"pageURL",cqVar:"pagedata.path",resourceType:"foundation/components/page"});
            this.frameworkMappings.push({scVar:"eVar5",cqVar:"eventdata.contactReason",resourceType:"allegionCorp2/components/emailSignUpStatus"});
            this.frameworkMappings.push({scVar:"eVar8",cqVar:"eventdata.contactBrand",resourceType:"allegionCorp2/components/emailSignUpStatus"});
            this.frameworkMappings.push({scVar:"eVar9",cqVar:"eventdata.contactCountry",resourceType:"allegionCorp2/components/emailSignUpStatus"});
            this.frameworkMappings.push({scVar:"event5",cqVar:"eventdata.events.contactThankYou",resourceType:"allegionCorp2/components/emailSignUpStatus"});
            this.frameworkMappings.push({scVar:"prop2",cqVar:"eventdata.spResults",resourceType:"cq/searchpromote/components/search"});
            this.frameworkMappings.push({scVar:"prop1",cqVar:"eventdata.spKeyword",resourceType:"cq/searchpromote/components/search"});
            this.frameworkMappings.push({scVar:"event1",cqVar:"eventdata.events.spSearch",resourceType:"cq/searchpromote/components/search"});
            this.frameworkMappings.push({scVar:"event2",cqVar:"eventdata.events.spAutoCompleteSelected",resourceType:"cq/searchpromote/components/search"});
            this.frameworkMappings.push({scVar:"eVar4",cqVar:"eventdata.clickthroughLinkLabel",resourceType:"allegionCorp2/components/oneColumnText"});
            this.frameworkMappings.push({scVar:"event4",cqVar:"eventdata.events.clickthroughLinkClick",resourceType:"allegionCorp2/components/oneColumnText"});
            for (var i=0; i<this.frameworkMappings.length; i++){
                var m = this.frameworkMappings[i];
                if (!options || options.compatibility || (options.componentPath == m.resourceType)) {
                    CQ_Analytics.Sitecatalyst.setEvar(m);
                }
            }
        }

        CQ_Analytics.CCM.addListener("storesinitialize", function(e) {
            var collect = true;
            var lte = s.linkTrackEvents;
            s.pageName="content:allegion-corp:corp:en:index";
            CQ_Analytics.Sitecatalyst.collect(collect);
            if (collect) {
                CQ_Analytics.Sitecatalyst.updateEvars();
                /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
                var s_code=s.t();if(s_code)document.write(s_code);
                s.linkTrackEvents = lte;
                if(s.linkTrackVars.indexOf('events')==-1){delete s.events};
                $CQ(document).trigger("sitecatalystAfterCollect");
            }
        });
        //-->
    </script>
    <script type="text/javascript">
        <!--
        if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
        //-->
    </script>
    <noscript><img src="http://schlagelockcompany.d2.sc.omtrdc.net/b/ss/slcallegionprodpublish/1/H.25--NS/1486483589846?cdp=2&amp;gn=content%3Aallegion-corp%3Acorp%3Aen%3Aindex" height="1" width="1" border="0" alt=""/></noscript>
    <span data-tracking="{event:'pageView', values:{}, componentPath:'foundation/components/page'}"></span>
</div>

</div>


</body>

</html>
	



